<!-- Wrapper-->
<div id="wrapper">
    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div ng-include="'views/frontCommon/topnavbar.html'" id="mycontent-zsy"></div>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div ng-include="'views/frontCommon/footer.html'" ></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <!--<div ng-include="'views/frontCommon/right_sidebar.html'"></div>-->
</div>
<!-- End wrapper-->