<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu" ng-controller="productListCtrl">
            <!--=========================nav-header用户信息===========================-->
            <li class="nav-header">
                <div class="profile-element text-center" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/gomeFinance-logo.png"/>
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <!--<strong class="font-bold">UserName</strong>-->
                            </span>
                        </span>
                    </a>
                </div>
            </li>
            <!--首页按钮-->
            <!--======================nav-content接口自动化支持中心0330==bug24=====================-->
            <li ng-class="{active: $state.includes('interface')}">
                <a ui-sref="interface.center" ui-sref-active="active">
                    <i class="fa fa-desktop"></i>
                    <span class="nav-label">
                         {{ 'ASC接口支持中心' | translate }}
                    </span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li ng-class="{active: $state.includes('interface')}">
                        <a ui-sref="interface.center" ui-sref-active="active">
                            <span class="nav-label">总览</span>
                        </a>
                    </li>
                    <li ng-repeat="depart in productsList" side-navigation>
                        <a href="">{{ depart.name }}<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li ui-sref-active="active">
                                <a ui-sref="interface.board({proName:depart.name,proId:depart.uuid})">{{ "概述" | translate}}</a>
                            </li>
                            <li ui-sref-active="active" ng-repeat="product in depart.product_department">
                                <a ui-sref="interface.productDetail({proName:product.name,proId:product.uuid})">{{product.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--======================nav-content代码自动化支持中心0330==bug26=====================-->
            <li ng-class="{active: $state.includes('abilityAutomation')}">
                <a href=""><i class="fa fa-code"></i> <span class="nav-label">{{ 'ASC代码支持中心' | translate }}</span><span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('abilityAutomation')}">
                    <li ui-sref-active="active"><a ui-sref="abilityAutomation.board">{{ '概况' | translate }}</a></li>
                </ul>
            </li>
            <!--======================nav-contentASC业务支持中心=====================-->
            <li ng-class="{active: $state.includes('business')}">
                <a  ui-sref=".board" ui-sref-active="active">
                    <i class="fa fa-paper-plane"></i>
                    <span class="nav-label">{{ 'ASC业务支持中心' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li ng-repeat="depart in productsList" side-navigation>
                        <a href="">{{ depart.name }}<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li ui-sref-active="active">
                                <a ui-sref="business.board({proName:depart.name,proId:depart.uuid})">{{ "概述" | translate}}</a>
                            </li>
                            <li ui-sref-active="active" ng-repeat="product in depart.product">
                                <a ui-sref="business.productDetail({proName:product.name,proId:product.uuid})">{{product.name }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--========================nav-content统一部署中心========================-->
            <li ng-class="{active: $state.includes('unify')}">
                <a ui-sref="charts.flot_chart" ui-sref-active="active">
                    <i class="fa fa-cloud-upload"></i>
                    <span class="nav-label">{{ 'GDC统一部署中心' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li ng-repeat="depart in productsList" side-navigation>
                        <a href="">{{ depart.name }}<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li ui-sref-active="active">
                                <a ui-sref="unify.board({proName:depart.name,proId:depart.uuid})">{{ "概述" | translate}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

    </div>
</nav>