
<div ng-controller="deployment_type">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">部署类型管理</p>
        </div>
        <!-- 按钮触发模态框 -->
        <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="openDeployType()">新增</button>
        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>名称</td>
                    <!--<td>格式化入参模板</td>-->
                    <!--<td>创建时间</td>
                    <td>更新时间</td>-->
                    <td>是否启用</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in deployTypeList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.name}}</td>
                    <!--<td>{{item.format_param}}</td>-->
                    <!--<td>{{item.created}}</td>
                    <td>{{item.modified}}</td>-->
                    <td>{{item.is_active?'是':'否'}}</td>
                    <td>{{ item.created_time }}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeDeployType(item.uuid,$index)">查看</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editDeployType(item.uuid,$index)">修改</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="disableDeployType(item.uuid,$index)">禁用</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="delDeployType(item.uuid,$index)">删除</button>
                    </td>
                </tr>
            </table>
            <div class="tcdPageCode"></div>
        </div>
    </div>
    <!-- 模态框 新增、查看、修改（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="deployTypeName" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="ckeckName(params.name)" ng-model="params.name" class="form-control" id="deployTypeName" placeholder="请输入名称（限字母、数字和下划线）" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div ng-show="!dialog.detail" class="form-group">
                            <label for="departmentDes" class="col-sm-2 control-label">格式化入参模板</label>
                            <div class="col-sm-10 ">
                                <div class="display_flex" ng-repeat="param in paramsArr">
                                    <div class="flex8">
                                        <input type="text" ng-model="param.key" class="form-control" id="departmentDes" placeholder="key">
                                    </div>
                                    <div class="flex8" ng-show="!paramsArr[$index].is_select">
                                        <input type="text" ng-model="param.value" class="form-control" id="departmentDes" placeholder="value" >
                                    </div>
                                    <select class="flex8" ng-model="param.value" ng-options="m.correct_name as m.correct_name for m in allAssociation" ng-show="paramsArr[$index].is_select">
                                        <option value="">-------- 请选择 -------</option>
                                    </select>
                                    <button type="button" class="btn btn-default"  ng-click="minus('paramsArr',$index)">-</button>
                                    <button type="button" class="btn btn-default" ng-click="plus('paramsArr',$index)" >+</button>

                                    <!--<input  type="checkbox" class="checkbox-zsy" ng-model="paramsArr[$index].is_select"  ng-true-value = "true" ng-false-value = "false" ng-click="getAllAssociation()">-->
                                    <!--  -->
                                </div>
                            </div>
                        </div>

                        <!--详情-->
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="departmentDes" class="col-sm-2 control-label">格式化入参模板</label>
                            <div class="col-sm-10 ">
                                <div class="display_flex" ng-repeat="param in paramsArr">
                                    <div >
                                        <input type="text" ng-model="param.key" class="form-control" id="departmentDes" placeholder="" ng-disabled="true">
                                    </div>
                                    <div >
                                        <input type="text" ng-model="param.value" class="form-control" id="departmentDes" placeholder=""  ng-disabled="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="deployTypeCreated" class="col-sm-2 control-label">创建时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.created" class="form-control" id="deployTypeCreated" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="deployTypeModified" class="col-sm-2 control-label">更新时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.modified" class="form-control" id="deployTypeModified" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">源代码</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.source_status" ng-disabled="dialog.input_isClick"> 是否显示
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">部署代码</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.deploy_status" ng-disabled="dialog.input_isClick"> 是否显示
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">接口代码</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.interface_status" ng-disabled="dialog.input_isClick"> 是否显示
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">数据</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.is_init" ng-disabled="dialog.input_isClick"> 是否初始化
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">构建类型</label>
                            <div class="col-sm-10">
                                <label>
                                    <input type="checkbox" ng-checked='params.is_tmc' ng-click="typeIsTmc()"> tmc
                                </label>
                                <label>
                                    <input type="checkbox" ng-checked='params.is_gdc' ng-click="typeIsGdc()"> gdc
                                </label>
                                <label>
                                    <input type="checkbox" ng-checked='params.is_uasc' ng-click="typeIsUasc()"> uasc
                                </label>
                                <label>
                                    <input type="checkbox" ng-checked='params.is_cmc' ng-click="typeIsCmc()"> cmc
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">启用</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.is_active" ng-disabled="dialog.input_isClick"> 是否启用
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addDeployTypeConfirm()" ng-show="dialog.status === 'create'">新增</button>
                    <button type="button" class="btn btn-primary" ng-click="editDeployTypeConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- 模态框 禁用、删除（Modal） -->
    <div class="modal fade" id="DisableModel" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="disableLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger"  ng-click="disableDeployTypeConfirm()" ng-show="dialog.status === 'disable'">
                            禁用
                        </button>
                        <button type="button" class="btn btn-default btn-danger" ng-click="delDeployTypeConfirm()" ng-show="dialog.status === 'del'">
                            删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- showToast（Modal） -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>
