<div ng-controller="branchManage">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">分支管理</p>
        </div>
        <div class="queryCase">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-3">
                        <select ng-model="queryDetailParam.product" ng-options="m.name for m in queryProductList" ng-change="queryProduct()">
                            <option value="">-- 请选择产品 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select ng-model="queryDetailParam.system" ng-options="m.system_name for m in querySystemList" ng-change="querySystem()">
                            <option value="">-- 请选择系统 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="queryCaseJob()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 按钮触发模态框 -->
        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>策略名称</td>
                    <td>系统</td>
                    <td>环境</td>
                    <td>更新时间</td>
                    <td>更新人</td>
                    <!--<td>启用</td>-->
                    <!--<td>创建时间</td>-->
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in jobConstructList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.system_name}}</td>
                    <td>{{item.env_name}}</td>
                    <td>{{item.create_time}}</td>
                    <td>{{item.creator_name}}</td>
                    <!--<td>{{item.is_active?'是':'否'}}</td>-->
                    <!--<td>{{item.created_time}}</td>-->
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="detailJobConstruct(item.uuid,$index)">详情</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editJobConstruct(item.uuid,$index)">修改</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show = "forInitPage" class="forInit">
                <span class="tcdPageCode"></span>
            </div>
            <div ng-hide = "forInitPage" class="forSearch">
                <span class="tcdPageCode"></span>
            </div>
        </div>
    </div>
    <!-- 模态框 新增、查看、修改（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <!--源码-->
                       <!-- <div  class="form-group">
                            <label class="col-sm-2 control-label">源码仓库</label>
                            <div class="col-sm-10">
                                <select ng-change="selectedSourceCode()" ng-model="params.source_warehouse" ng-options="m.name for m in dataStorageList" ng-disabled=true>
                                    <option value="">&#45;&#45; 请选择 &#45;&#45;</option>
                                </select>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label class="col-sm-2 control-label">策略名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.name" class="form-control" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">系统名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.system_name" class="form-control" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">环境</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.env_name" class="form-control" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div  class="form-group">
                            <label class="col-sm-2 control-label">分支</label>
                            <div class="col-sm-2">
                                <select ng-change="selectedSourceType()" ng-model="params.branch_type" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                    <option label="分支" value="1">分支</option>
                                    <option label="标签" value="2">标签</option>
                                </select>
                            </div>
                            <div class="col-sm-8">
                                <select ng-model="params.branch_list" ng-options="m.name for m in sourceCodeBranchList" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addJobConstructConfirm()" ng-show="dialog.status === 'create'">查看</button>
                    <button type="button" class="btn btn-primary" ng-click="editJobConstructConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- showToast（Modal） -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>
