
<div ng-controller="deployment_jobRun as result">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">执行Job管理</p>
        </div>
        <!--<button class="btn btn-default" ng-click="startRun()">自动刷新</button>-->
        <button class="btn btn-default" ng-click="stopRun()">停止刷新</button>
        <div class="wrapper wrapper-content animated fadeInRight "  id="backJobRunCenter-frame">
            <div class="row">
                <div class="col-lg-12" ng-repeat="department in productsList">
                    <div class="ibox float-e-margins">
                        <!--<div class="ibox-title ">-->
                        <div class="text-navy">
                            <p>
                                <a href="">
                                    <h2>{{ department.name }}</h2>
                                </a>
                            </p>
                        </div>
                        <div class="ibox-content ">
                            <table class=" table table-stripped toggle-arrow-tiny" data-page-size="20">
                                <thead>
                                <tr>
                                    <th width="10%">产品</th>
                                    <th width="15%">系统</th>
                                    <th width="25%">ci环境</th>
                                    <th width="25%">sit环境</th>
                                    <th width="25%">dev环境</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="product in department.product">
                                <tr ng-show="!!product.system.length"> <!---->
                                    <td rowspan="{{product.system.length+1}}" style="display:table-cell; vertical-align:middle" align="center">
                                        <a href="" style="font-size: 16px">{{product.name}}</a>
                                        <!--<a ui-sref="interface.productDetail({proName:product.name,proId:product.id})" style="font-size: 16px">{{product.name}}</a>-->
                                    </td>
                                </tr>

                                <tr ng-repeat="system in product.system">
                                    <td class="coverage_cell " >
                                        <div class="verticalmiddle" style="position: absolute; width: 15%;">
                                            <p style="font-size: 14px; ">{{system.name}}</p>
                                            <!--<span style="color: darkgrey ;font-style: italic">代码覆盖率:</span><span style="color: darkgrey ;font-style: italic">{{system.coverage_percent}}</span>-->
                                        </div>
                                    </td>
                                    <td class="env_cell">
                                        <div class="verticalmiddle col-sm-3 col-sm-push-1">
                                            <p ng-show="system.result.ci.status !== 'running'" class="labelitem " ng-class="{'labelitem_pass':system.result.ci.status === 'success' ,'labelitem_fail':system.result.ci.status === 'fail'}"></p>
                                            <div ng-show="system.result.ci.status === 'running'" class="sk-spinner sk-spinner-double-bounce">
                                                <div class="sk-double-bounce1"></div>
                                                <div class="sk-double-bounce2"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-sm-push-2">
                                            <a ng-show=false class="btn-default btn" ng-click="ciRun(system.result.ci)">执行</a>
                                            <a ng-show=false class="btn-danger-empty btn-danger btn" ng-click="ciRunBack(system.result.ci.task_id)">回滚</a>
                                            <a ng-show="this.role !== this.developer && (system.result.ci.status === 'success' || system.result.ci.status === 'fail')" class="btn-default btn" ng-click="ciRunDetail(system.uuid,system.result.ci.env_id)" data-toggle="modal" data-target="#myModal">详情</a>
                                            <p class="reportTime">
                                            <p >{{system.result.ci.run_time}}</p>
                                            <div ng-if="system.result.ci.status ==='running'" ng-style="progressShow" class="progress progress-striped active" style=" height: 1rem; width:10rem;background: rgba(0,0,0,0.1);">
                                                <div id="myProcess" class="progress-bar progress-bar-success" role="progressbar"
                                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: {{showPercent(system.result.sit.percent)}}">
                                                    <!--<span class="sr-only">40% 完成{{curTime}}</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="env_cell">
                                        <div class="verticalmiddle col-sm-3 col-sm-push-1">
                                            <p ng-show="system.result.sit.status !== 'running'" class="labelitem" ng-class="{'labelitem_pass':system.result.sit.status === 'success' ,'labelitem_fail':system.result.sit.status === 'fail'}"></p>
                                            <div ng-show="system.result.sit.status === 'running'" class="sk-spinner sk-spinner-double-bounce">
                                                <div class="sk-double-bounce1"></div>
                                                <div class="sk-double-bounce2"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-sm-push-2">
                                            <a ng-show="this.role !== this.developer && system.result.sit.status !== 'running'" class="btn-default btn" ng-click="ciRun(system.result.sit)">执行</a>
                                            <a ng-show="this.role !== this.developer && system.result.sit.status === 'success'" class="btn-danger-empty btn-danger btn" ng-click="ciRunBack(system.result.sit.task_id)">回滚</a>
                                            <a ng-show="this.role !== this.developer && (system.result.sit.status === 'success' || system.result.sit.status === 'success' || system.result.sit.status === 'fail')" class="btn-default btn" ng-click="ciRunDetail(system.uuid,system.result.sit)" data-toggle="modal" data-target="#myModal">详情</a>
                                            <p class="reportTime">
                                            <p>{{system.result.sit.run_time}}</p>
                                            <div ng-if="system.result.sit.status ==='running'" ng-style="progressShow" class="progress progress-striped active" style=" height: 1rem; width:10rem;background: rgba(0,0,0,0.1);">
                                                <div id="myProcess" class="progress-bar progress-bar-success" role="progressbar"
                                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: {{showPercent(system.result.sit.percent)}}">
                                                    <!--<span class="sr-only">40% 完成{{curTime}}</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="env_cell">
                                        <div class="verticalmiddle col-sm-3 col-sm-push-1">
                                            <p ng-show="system.result.dev.status !== 'running'" class="labelitem" ng-class="{'labelitem_pass':system.result.dev.status === 'success','labelitem_fail':system.result.dev.status === 'fail'}"></p>
                                            <div ng-show="system.result.dev.status === 'running'" class="sk-spinner sk-spinner-double-bounce">
                                                <div class="sk-double-bounce1"></div>
                                                <div class="sk-double-bounce2"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 col-sm-push-2">
                                            <a ng-show="this.role !== this.tester && system.result.dev.status !== 'running'" class="btn-default btn" ng-click="ciRun(system.result.dev)">执行</a>
                                            <a ng-show="this.role !== this.tester && system.result.dev.status === 'success'" class="btn-danger-empty btn-danger btn" ng-click="ciRunBack(system.result.dev.task_id)">回滚</a>
                                            <a ng-show="this.role !== this.tester && (system.result.dev.status === 'success' || system.result.dev.status === 'fail')" class="btn-default btn" ng-click="ciRunDetail(system.uuid,system.result.dev)" data-toggle="modal" data-target="#myModal">详情</a>
                                            <p class="reportTime">
                                            <p>{{system.result.dev.run_time}}</p>
                                            </p>
                                            <div ng-if="system.result.dev.status ==='running'" ng-style="progressShow" class="progress progress-striped active" style=" height: 1rem; width:10rem;background: rgba(0,0,0,0.1);">
                                                <div id="myProcess" class="progress-bar progress-bar-success" role="progressbar"
                                                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                                     style="width:{{showPercent(system.result.dev.percent)}}">
                                                    <!--<span class="sr-only">40% 完成{{curTime}}</span>-->
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
    <!--详情模框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:70%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        历史详情
                    </h4>
                </div>
                <div class="wrapper wrapper-content">
                    <div class="row animated fadeInRight">
                        <div class="col-xs-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>{{job_name}}</h5>
                                </div>
                                <div class="ibox-content inspinia-timeline" ng-repeat="detail in detailList">
                                    <div class="timeline-item">
                                        <div class="row">
                                            <div class="col-xs-5 date">
                                                <!--<i class="fa fa-briefcase"></i>-->
                                                {{detail.build_id}}、{{detail.modified}}
                                                <br/>
                                                <!--bug64==zxh==构建历史详情没有显示每次成功还是失败-->
                                                构建结果：{{showResultStatus(detail.result_status)}}
                                                <!--<small class="text-navy">构建编号{{build_number}}</small>-->
                                            </div>
                                            <div class="col-xs-7 content no-top-border">
                                                <!--<p class="m-b-xs"><strong>{{detail.build_number}}</strong></p>-->
                                                <!--<p>status</p>-->
                                                <!--<button class="btn btn-default">启动用户</button>
                                                <a class="btn btn-default" href="">代码更新日志</a>-->
                                                <!-- <a class="btn btn-default" ng-click="logResult(detail.build_id,detail.job)" data-toggle="modal" data-target="#logModal">git对比结果</a> -->
                                                <a class="btn btn-default" ng-click="logFile(detail.build_id)" ng-disabled="detail.git_log === '' || detail.git_log === null || typeOf(detail.git_log) === 'undefined'">日志文件</a>

                                                <!--<a ng-show="detail.interface_result_url !=='' && detail.interface_result_url !== null" class="btn btn-default" href={{result_url}}{{detail.interface_result_url}}>接口结果</a>-->
                                                <pre style="word-wrap: break-word; white-space: pre-wrap;" ng-show="detail.git_log !== ''&& detail.git_log !== null && typeOf(detail.git_log) !== 'undefined'">{{detail.git_log}}</pre>
                                                <pre style="word-wrap: break-word; white-space: pre-wrap;" ng-show="detail.git_log === '' || detail.git_log === null || typeOf(detail.git_log) === 'undefined'">无Git更新日志</pre>
                                                <!--<p>Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
                                                    sale.</p>-->
                                                <p>
                                                    <!--<bar-chart data="main.BarChart2.data" options="main.BarChart2.options"></bar-chart>-->
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>
    <!--日志文件模框-->
    <!-- <div style="position: fixed; top:0; left: 0; right: 0; bottom: 0" class="modal fade" id="logModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 68%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        对比结果
                    </h4>
                </div>
                <div class="wrapper wrapper-content">
                    <pre style="word-wrap: break-word; white-space: pre-wrap;height: 450px;">{{logResultCon}}</pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div> -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
    <!--<div>
        <div class="load-bg">
            <span class="load">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </span>
            <span class="load-font">正在执行...</span>
        </div>
        <div class="layer"></div>
    </div>-->
</div>
<script>
//    $("#myProcess").style.width=.7;
//    console.log($(".progress-bar").text());
</script>
