<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
        </button>
        <h4 class="modal-title" id="myModalLabel">
            日志文件
        </h4>
    </div>
    <div class="wrapper wrapper-content">
        <!--<p>{{logResultCon}}</p>-->
        <pre style="word-wrap: break-word; white-space: pre-wrap;">{{logResultCon}}</pre>
    </div>
</body>
</html>