
<div ng-controller="backSysConfig_dataStorage">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">数据仓库管理</p>
        </div>
        <!-- 按钮触发模态框 -->
        <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="openDateStorage()">新增仓库</button>
        <button class="btn btn-default new-apartment" ng-click="updateID()">更新GitlabID</button>
        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table" data-page-size="10" id="footable">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>仓库类型</td>
                    <td>代码类型</td>
                    <td>名称</td>
                    <td>GitlabID</td>
                    <td>创建时间</td>

                    <td>是否启用</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in dateStorageList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.scm_type}}</td>
                    <td>{{item.code_type}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.gitlab_id}}</td>
                    <td>{{item.create_time}}</td>
                    <td>{{item.is_active?'是':'否'}}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeDateStorage(item.uuid,$index)">查看</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editDateStorage(item.uuid,$index)">修改</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="disableDateStorage(item.uuid,$index)">禁用</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="delDateStorage(item.uuid,$index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="tcdPageCode"></div>
        </div>
    </div>
    <!-- 模态框 新增、查看、修改（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">部门</label>
                            <div class="col-sm-10">
                                <select ng-model="params.department" ng-options="m.name for m in departmentList" ng-change="selectDepartment()">
                                    <option value="">-- 请选择部门 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">产品</label>
                            <div class="col-sm-10">
                                <select ng-model="params.product" ng-options="m.name for m in productList">
                                    <option value="">-- 请选择产品 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">数据仓库类型</label>
                            <div class="col-sm-10">
                                <select ng-blur="checkNull(params.scm_type,'数据仓库类型')" ng-model="params.scm_type" ng-options="m.type for m in dateStorageType" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">代码类型</label>
                            <div class="col-sm-10">
                                <select ng-blur="checkNull(params.code_type,'代码类型')" ng-model="params.code_type" ng-options="m.type for m in codeType" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dateStorageName" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkNull(params.name,'名称')" ng-model="params.name" class="form-control" id="dateStorageName" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dateStorageHttpAddress" class="col-sm-2 control-label">http地址</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.http_address" class="form-control" id="dateStorageHttpAddress" placeholder="请输入http地址" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dateStorageSshAddress" class="col-sm-2 control-label">ssh地址</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkNull(params.ssh_address,'ssh地址')" ng-model="params.ssh_address" class="form-control" id="dateStorageSshAddress" placeholder="请输入ssh地址" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <!--新增和修改-->
                        <div class="form-group" ng-show="dialog.add">
                            <label for="dateStorageLoginUser" class="col-sm-2 control-label">登录用户名</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.login_user" class="form-control" id="dateStorageLoginUser" placeholder="请输入登录用户名" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.add">
                            <label for="dateStorageLoginPwd" class="col-sm-2 control-label">登录密码</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.login_password" class="form-control" id="dateStorageLoginPwd" placeholder="请输入登录密码" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <!--详情-->
                        <div class="form-group" ng-show="dialog.detail">
                            <label class="col-sm-2 control-label">GitlabID</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.gitlab_id" class="form-control" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <!--<div class="form-group" ng-show="dialog.detail">
                            <label for="dateStorageUser" class="col-sm-2 control-label">创建用户</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.user" class="form-control" id="dateStorageUser" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="dateStorageMod" class="col-sm-2 control-label">修改用户</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.mod" class="form-control" id="dateStorageMod" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>-->
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="dateStorageCreated" class="col-sm-2 control-label">创建时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.create_time" class="form-control" id="dateStorageCreated" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="dateStorageModified" class="col-sm-2 control-label">更新时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.modify_time" class="form-control" id="dateStorageModified" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">启用</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.is_active" ng-disabled="dialog.input_isClick"> 是否启用
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addDateStorageConfirm()" ng-show="dialog.status === 'create'">新增</button>
                    <button type="button" class="btn btn-primary" ng-click="editDateStorageConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- 模态框 禁用、删除（Modal） -->
    <div class="modal fade" id="DisableModel" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="disableLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger"  ng-click="disableDateStorageConfirm()" ng-show="dialog.status === 'disable'">
                            禁用
                        </button>
                        <button type="button" class="btn btn-default btn-danger" ng-click="delDateStorageConfirm()" ng-show="dialog.status === 'del'">
                            删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- showToast（Modal） -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>
