<div ng-controller="backSysConfig_baseInfo">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">基本信息配置</p>
        </div>
        <!-- 按钮触发模态框 -->
        <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="editInfoModify()">修改配置</button>

        <div class="depart-table-wrap">
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="departmentName" class="col-sm-2 control-label">邮件发送人</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="editInfo.login_user" class="form-control" id="departmentName" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departmentName" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" ng-model="editInfo.password" class="form-control" id="departmentName" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departmentName" class="col-sm-2 control-label">SMTP地址</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="editInfo.smtp" class="form-control" id="departmentName" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departmentName" class="col-sm-2 control-label">POP3地址</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="editInfo.pop3" class="form-control" id="departmentName" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="departmentName" class="col-sm-2 control-label">sonar服务器地址</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="editInfo.sonar" class="form-control" id="departmentName" ng-disabled="true">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-empty" data-dismiss="modal">
                            关闭
                        </button>-->
                <button type="button" class="btn btn-primary hide" id="editBtn" ng-click="editInfoMethod()">
                        保存
                        </button>
            </div>
            <div ng-show="forInitPage" class="forInit">
                <span class="tcdPageCode"></span>
            </div>
            <div ng-hide="forInitPage" class="forSearch">
                <span class="tcdPageCode"></span>
            </div>
        </div>
    </div>
    <!-- 模态框 查看部门（Modal） -->
    <!--<div class="modal fade" id="seeDepartment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                    <h4 class="modal-title" id="myModalLabel">
                        查看部门
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="departmentName" class="col-sm-2 control-label">部门名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="seeInfo.name" class="form-control" id="departmentName" ng-disabled="true">
                            </div>
                        </div>-->
                        <!--<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
					<input type="checkbox" ng-checked="seeInfo.is_active" ng-disabled="true"> 是否启用部门
				</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                            关闭
                        </button>
                </div>
            </div>-->
            <!-- /.modal-content -->
        <!--</div>-->
        <!-- /.modal-dialog -->
    <!--</div>-->
    <!-- /.modal 查看部门结束 -->

    <!-- 模态框 修改部门部门（Modal） -->
    <!--<div class="modal fade" id="editDepartment" tabindex="-1" role="dialog" aria-labelledby="editDepartmentInfo" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                    <h4 class="modal-title" id="editDepartmentInfo">
                        修改部门
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="departmentName" class="col-sm-2 control-label">部门名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="editInfo.name" class="form-control" id="departmentName" placeholder="请输入部门名称">
                            </div>
                        </div>-->
                        <!--<div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                            <input type="checkbox" ng-checked='editInfo.is_active' ng-click="EditIsActiveMethod()"> 是否启用部门
                                        </label>
                                </div>
                                <p style="color:red ;margin-top:10px;margin-left:10px; text-align: left">{{validateText}}</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
					关闭
				</button>
                    <button type="button" class="btn btn-primary" ng-click="EditDepartmentMethod()">
					确认更改
				</button>
                </div>
            </div>-->
            <!-- /.modal-content -->
        <!--</div>-->
        <!-- /.modal-dialog -->
    <!--</div>-->
    <!-- /.modal 修改部门结束 -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>

</div>