
<div ng-controller="backSysConfig_jenkins">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">jenkins服务器管理</p>
        </div>
        <!-- 按钮触发模态框 -->
        <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="openJenkins()">新增服务器</button>
        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>名称</td>
                    <td>请求方法</td>
                    <td>IP地址</td>
                    <td>端口</td>
                    <td>参数</td>
                    <td>是否启用</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in jenkinsList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.method}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.port}}</td>
                    <td>{{item.param}}</td>
                    <td>{{item.is_active?'是':'否'}}</td>
                    <td>{{item.created_time}}</td>
                    <!--<td>{{item.modified_time}}</td>-->

                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeJenkins(item.uuid,$index)">查看</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editJenkins(item.uuid,$index)">修改</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableJenkins" ng-click="disableJenkins(item.uuid,$index)">禁用</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableJenkins" ng-click="delJenkins(item.uuid,$index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="tcdPageCode"></div>
        </div>
    </div>
    <!-- 模态框 新增、查看、修改（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">平台</label>
                            <div class="col-sm-10">
                                <select ng-model="params.os" ng-disabled="dialog.input_isClick">
                                    <option value="">-- 请选择 --</option>
                                    <option value="linux">linux</option>
                                    <option value="mac">mac</option>
                                    <option value="win">win</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jenkinsName" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="ckeckName(params.name)" ng-model="params.name" class="form-control" id="jenkinsName" placeholder="请输入名称" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jenkinsMethod" class="col-sm-2 control-label">请求方法</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkNull(params.method,'请求方法')" ng-model="params.method" class="form-control" id="jenkinsMethod" placeholder="请输入请求方法" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jenkinsAddress" class="col-sm-2 control-label">IP地址</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkNull(params.address,'IP地址')" ng-model="params.address" class="form-control" id="jenkinsAddress" placeholder="请输入IP地址" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jenkinsPort" class="col-sm-2 control-label">端口</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkNull(params.port,'端口')" ng-model="params.port" class="form-control" id="jenkinsPort" placeholder="请输入端口" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jenkinsParam" class="col-sm-2 control-label">参数</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.param" class="form-control" id="jenkinsParam" placeholder="请输入参数" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <!--新增和修改-->
                        <div class="form-group" ng-show="dialog.add">
                            <label for="jenkinsLoginUser" class="col-sm-2 control-label">登录用户名</label>
                            <div class="col-sm-10">
                                <input type="text" ng-blur="checkNull(params.login_user,'登录用户名')" ng-model="params.login_user" class="form-control" id="jenkinsLoginUser" placeholder="请输入登录用户名" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.add">
                            <label for="jenkinsLoginPwd" class="col-sm-2 control-label">登录密码</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.login_password" class="form-control" id="jenkinsLoginPwd" placeholder="请输入登录密码" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="jenkinsJobAddress" class="col-sm-2 control-label">job自定义地址</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.jenkins_jobs_address" class="form-control" id="jenkinsJobAddress" placeholder="请输入job自定义地址" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <!--详情-->
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="jenkinsUser" class="col-sm-2 control-label">创建用户</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.user" class="form-control" id="jenkinsUser" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="jenkinsMod" class="col-sm-2 control-label">修改用户</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.mod" class="form-control" id="jenkinsMod" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="jenkinsCreated" class="col-sm-2 control-label">创建时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.created" class="form-control" id="jenkinsCreated" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group" ng-show="dialog.detail">
                            <label for="jenkinsModified" class="col-sm-2 control-label">更新时间</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="params.modified" class="form-control" id="jenkinsModified" ng-disabled="dialog.input_isClick">
                            </div>
                        </div>
                        <div class="form-group">
                            <label  class="col-sm-2 control-label">启用</label>
                            <div class="col-sm-10">
                                <input type="checkbox" ng-model="params.is_active" ng-disabled="dialog.input_isClick"> 是否启用
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="addJenkinsConfirm()" ng-show="dialog.status === 'create'">新增</button>
                    <button type="button" class="btn btn-primary" ng-click="editJenkinsConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- 模态框 禁用、删除（Modal） -->
    <div class="modal fade" id="DisableJenkins" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="disableLabel">
                        {{dialog.header}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger"  ng-click="disableJenkinsConfirm()" ng-show="dialog.status === 'disable'">
                            禁用
                        </button>
                        <button type="button" class="btn btn-default btn-danger" ng-click="delJenkinsConfirm()" ng-show="dialog.status === 'del'">
                            删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- showToast（Modal） -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>
