// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.styl

$primary   = #9ba4ab
$secondary = #6c8784
$accent    = #9C27B0

$dark      = #1d1d1d

$positive  = #40e640
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037


