<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台-基本信息-产品</title>
</head>

<body>
    <div ng-controller="backProductList">
        <div class="backInfo-depart-frame">
            <div class="backDepart-header">
                <p class="backDepartQ-title pull-left">产品管理</p>
                <!--<div class="queryCase pull-right ">-->
                    <!--<input type="text " placeholder="请输入产品牌/产品编号/产品负责人 ">-->
                    <!--<span>查询</span>-->
                <!--</div>-->
            </div>
            <!-- 按钮触发模态框 -->
            <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal">新增产品</button>
            <div class="back-pro-frame">
                <table class="table table-hover table-striped depart-table ">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <!--<td>产品名</td>-->
                        <td>产品名称</td>
                        <td>部门名称</td>
                        <td>是否启用</td>
                        <td>创建时间</td>
                        <!--<td>修改时间</td>-->
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in productList">
                    <tr>
                        <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                        <td>{{item.name}}</td>
                        <!--<td>{{item.description}}</td>-->
                        <td>{{item.department_name}}</td>
                        <td>{{item.is_active?'是':'否'}}</td>
                        <td>{{item.created}}</td>
                        <!--<td>{{item.modified_time}}</td>-->
                        <td style="text-align:left;">
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#seeProduct" ng-click="seeProductDes(item.uuid)">查看</button>
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#editProduct" ng-click="editProductDes(item.uuid)">修改</button>
                            <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#disableProduct" ng-click="disableProduct(item.uuid)">禁用</button>
                            <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#delProduct" ng-click="delProduct(item.uuid)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show = "forInitPage" class="forInit">
                    <span class="tcdPageCode"></span>
                </div>
                <div ng-hide = "forInitPage" class="forSearch">
                    <span class="tcdPageCode"></span>
                </div>
            </div>
        </div>

        <!-- 模态框 新增产品（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            新增产品
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">选择部门</label>
                                <div class="col-sm-10">
                                    <select ng-model="addProduct.department_name" ng-options="m.name for m in departmentNameList">
                                            <option value="">-- 请选择 --</option>
                                    </select><span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-blur="ckeckProName(addProduct.name)" ng-model="addProduct.name" class="form-control" id="departmentName" placeholder="请输入产品名称">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">产品描述</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="addProduct.description" class="form-control" id="departmentDes" placeholder="请输入产品描述">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked='addProduct.is_active' ng-click="addProductisActive()"> 是否启用产品
                                        </label>
                                    </div>
                                    <p style="color:red ;margin-top:10px;margin-left:10px; text-align: left" >{{validateText}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="addDepartmentMethod()">
                            新增产品
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 新增产品结束 -->

        <!-- 模态框 查看详情（Modal） -->
        <div class="modal fade" id="seeProduct" tabindex="-1" role="dialog" aria-labelledby="seeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                        <h4 class="modal-title" id="seeModalLabel">
                            查看详情
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="seeProduct.name" class="form-control" id="departmentName" ng-disabled="true">
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">产品描述</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="seeProduct.description" class="form-control" id="departmentDes" ng-disabled="true">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
					<input type="checkbox" ng-checked="seeProduct.is_active" ng-disabled="true"> 是否启用产品
				</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
					          关闭
				        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 查看详情结束 -->

         <!-- 模态框 修改产品产品（Modal） -->
        <div class="modal fade" id="editProduct" tabindex="-1" role="dialog" aria-labelledby="editProductInfo" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				        </button>
                        <h4 class="modal-title" id="editProductInfo">
                            修改产品
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">选择部门</label>
                                <div class="col-sm-10">
                                    <select ng-model="editProduct.department_name" ng-options="m.name for m in editDepartmentNameList">
                                        <option value="">-- 请选择 --</option>
                                    </select><span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="editProduct.name" class="form-control" id="departmentName" placeholder="请输入产品名称（限字母、数字和下划线）">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">产品描述</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="editProduct.description" class="form-control" id="departmentDes" placeholder="请输入产品描述">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked='editProduct.is_active' ng-click="editIsActive()"> 是否启用产品
                                        </label>
                                    </div>
                                    <p style="color:red ;margin-top:10px;margin-left:10px; text-align: left" >{{validateText}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="editProductMethod()">
                            确认更改
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 修改产品结束 -->

        <!-- 模态框 禁用（Modal） -->
        <div class="modal fade" id="disableProduct" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="disableLabel">
                            产品禁用
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="DisableProductMethod()">
                                禁用
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 禁用结束 -->

        <!-- 模态框 环境删除（Modal） -->
        <div class="modal fade" id="delProduct" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="delLabel">
                            删除环境
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="sureDelProduct()">
                                删除
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 环境删除 -->
        <div>
            <div class="toastShow" ng-show="toastState === true">
                <em>{{toastCon}}</em>
            </div>
        </div>
    </div>
</body>

</html>