    <div ng-controller="backDepartment">
        <div class="backInfo-depart-frame">
            <div class="backDepart-header">
                <p class="backDepartQ-title pull-left">部门管理</p>
                <!-- <div class="queryCase pull-right ">
                    <input type="text " placeholder=" ">
                    <span>查询</span>
                </div> -->
                <!--<ul class="searchcontent">
                    <li>
                        <p>部门名称</p>
                        <input type="text " placeholder=" ">
                        
                    </li>
                    <li>
                        <p>部门描述</p>
                        <input type="text " placeholder="">
                        
                    </li>
                    <li>
                        <p>启用</p>
                        <input type="checkbox" >
                        
                    </li>
                    <li>
                        <select   >
                            <option value="">{{'请选择XXX'}}</option>
                        </select>
                        
                    </li>
                    <li>
                        <span>确定搜索</span>
                    </li>

                </ul>-->
            </div>
            <!-- 按钮触发模态框 -->
            <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal">新增部门</button>
            <div class="depart-table-wrap">
                <table class="table table-hover table-striped depart-table ">
                    <thead>
                    <tr>
                        <td>部门编号</td>
                        <!--<td>部门名称</td>-->
                        <td>部门名称</td>
                        <td>是否启用</td>
                        <td>创建时间</td>
                        <!--<td>修改时间</td>-->
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in departList">
                    <tr>
                        <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                        <!--<td>{{item.name}}</td>-->
                        <td>{{item.name}}</td>
                        <td>{{item.is_active?'是':'否'}}</td>
                        <td>{{item.create_time}}</td>
                        <!--<td>{{item.modified_time}}</td>-->

                        <td style="text-align:left;">
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#seeDepartment" ng-click="seeDepartmentDes(item.uuid)">查看</button>
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#editDepartment" ng-click="editDepartmentDes(item.uuid)">修改</button>
                            <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#disableDepartment" ng-click="DisableDepartment(item.uuid)">禁用</button>
                            <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#delDepartment" ng-click="delDepartment(item.uuid)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show = "forInitPage" class="forInit">
                    <span class="tcdPageCode"></span>
                </div>
                <div ng-hide = "forInitPage" class="forSearch">
                    <span class="tcdPageCode"></span>
                </div>
            </div>
        </div>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            新增部门
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">部门名称</label>
                                <div class="col-sm-9">
                                    <!--<input ng-blur="checkChina(addInfo.departmentName)" type="text" ng-model="addInfo.departmentName" class="form-control" id="departmentName" placeholder="请输入部门名称">-->
                                    <input type="text" ng-model="addInfo.departmentName" class="form-control" id="departmentName" placeholder="请输入部门名称">

                                </div>
                                <div class="col-sm-1" style="padding-left:0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">部门描述</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="addInfo.departmentDes" class="form-control" id="departmentDes" placeholder="请输入部门描述">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="addInfo.isActive" ng-click="isActiveMethod()"> 是否启用部门
                                        </label>
                                    </div>
                                    <p style="color:red ;margin-top:10px;margin-left:10px; text-align: left" >{{validateText}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="addDepartmentMethod()">
                            确认新增
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- 模态框 查看部门（Modal） -->
        <div class="modal fade" id="seeDepartment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                        <h4 class="modal-title" id="myModalLabel">
                            查看部门
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">部门名称</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="seeInfo.name" class="form-control" id="departmentName" ng-disabled="true">
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">部门描述</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="seeInfo.description" class="form-control" id="departmentDes" ng-disabled="true">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
					<input type="checkbox" ng-checked="seeInfo.is_active" ng-disabled="true"> 是否启用部门
				</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 查看部门结束 -->

        <!-- 模态框 修改部门部门（Modal） -->
        <div class="modal fade" id="editDepartment" tabindex="-1" role="dialog" aria-labelledby="editDepartmentInfo" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                        <h4 class="modal-title" id="editDepartmentInfo">
                            修改部门
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">部门名称</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="editInfo.name" class="form-control" id="departmentName" placeholder="请输入部门名称">
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">部门描述</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="editInfo.description" class="form-control" id="departmentDes" placeholder="请输入部门描述">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked='editInfo.is_active' ng-click="EditIsActiveMethod()"> 是否启用部门
                                        </label>
                                    </div>
                                    <p style="color:red ;margin-top:10px;margin-left:10px; text-align: left" >{{validateText}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
					关闭
				</button>
                        <button type="button" class="btn btn-primary" ng-click="EditDepartmentMethod()">
					确认更改
				</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 修改部门结束 -->


        <!-- 模态框 禁用（Modal） -->
        <div class="modal fade" id="disableDepartment" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="disableLabel">
                            部门禁用
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-default btn-danger" ng-click="disableDepartmentMethod()">
                                禁用
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 禁用结束 -->


        <!-- 模态框 部门删除（Modal） -->
        <div class="modal fade" id="delDepartment" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="delLabel">
                            删除部门
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="sureDel()">
                                删除
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 部门删除 -->
        <div>
            <div class="toastShow" ng-show="toastState === true">
                <em>{{toastCon}}</em>
            </div>
        </div>

    </div>
