<style>
    #myiframe{width:100%;}
    #page-wrapper{
        padding:0;
    }

body::-webkit-scrollbar { width: 3px; height: 3px;}
body::-webkit-scrollbar-track-piece { background-color: #ccc;}
body::-webkit-scrollbar-thumb{height: 50px; background-color: #ccc; -webkit-border-radius: 3px;}

</style>
<p style="font-size: 16px;position: fixed;top: 17px;left: 49%;z-index: 1136;color: #18a689;">国美金融ASC代码自动化支持中心</p>
<iframe style="margin-top: -65px;" src="http://10.143.117.38:81/qa/" scrolling="yes" frameborder="0" id="myiframe" target="_top" width="1000" height="950"></iframe>


<script>
    function setIframeHeight() {
        var myIframe = document.getElementById('myiframe');
        if(myIframe){
            console.log($('body').height())
            myIframe.height= ($('body').height() )+'px';
        }
    }
    window.onload=window.onresize=function () {
        setIframeHeight()
    }
</script>