<div class="wrapper wrapper-content animated fadeInRight" ng-controller="caseResultCtrl as result">
    <div class="row wrapper border-bottom ibox-heading page-heading text-center">
        <div class="col-lg-12">
            <h2 style="font-size:30px ;color:#1ab394">{{caseResultDatas.name}} 概述</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" ng-repeat="product in caseResultDatas.product">
            <div class="ibox float-e-margins">
                <!--<div class="ibox-title ">-->
                <div class="text-navy">
                    <p>
                        <a ui-sref="interface.productDetail({proName:product.name,proId:product.uuid})">
                            <h3><strong>{{ product.name }}</strong></h3>
                        </a>
                    </p>
                </div>
                <div class="ibox-content">
                    <table class=" table table-stripped toggle-arrow-tiny" data-page-size="20">
                        <thead>
                        <tr>
                            <th width="20%">子系统</th>
                            <th>测试环境</th>
                            <th>执行情况</th>
                            <th>执行时间</th>
                            <th>代码覆盖率</th>
                            <th>报告详情</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="system in product.system">
                        <tr>
                            <td rowspan="6" style="display:table-cell; vertical-align:middle" align="center">
                                {{system.name}}
                            </td>
                        </tr>
                        <tr>
                            <td>dev环境</td>
                            <td ng-bind-html="showStatusText(system.result.dev)"></td>
                            <td>{{showExeTime(system.result.dev)}}</td>
                            <td>{{showCover_percent(system.result.coverage_percent)}}</td>
                            <td>
                                <a ng-show="system.result.dev && system.result.dev.url " href="{{rootUrl}}{{
                                   system.result.dev.url }}">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>ci环境</td>
                            <td ng-bind-html="showStatusText(system.result.ci)"></td>
                            <td>{{showExeTime(system.result.ci)}}</td>
                            <td>{{showCover_percent(system.result.coverage_percent)}}</td>
                            <td>
                                <a ng-show="system.result.ci && system.result.ci.url " href="{{rootUrl}}{{ system.result.ci.url }}">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>sit环境</td>
                            <td ng-bind-html="showStatusText(system.result.sit)"></td>
                            <td>{{showExeTime(system.result.sit)}}</td>
                            <td>{{showCover_percent(system.result.coverage_percent)}}</td>
                            <td>
                                <a ng-show="system.result.sit && system.result.sit.url " href=" {{rootUrl}}{{
                                   system.result.sit.url }}">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>准生产环境</td>
                            <td ng-bind-html="showStatusText(system.result.asspro)"></td>
                            <td>{{showExeTime(system.result.asspro)}}</td>
                            <td>{{showCover_percent(system.result.coverage_percent)}}</td>
                            <td>
                                <a ng-show="system.result.asspro && system.result.asspro.url " href="{{rootUrl}}{{
                                   system.result.asspro.url }}">详情</a>
                            </td>
                        </tr>
                        <tr>
                            <td>生产环境</td>
                            <td ng-bind-html="showStatusText(system.result.pro)"></td>
                            <td>{{showExeTime(system.result.pro)}}</td>
                            <td>{{showCover_percent(system.result.coverage_percent)}}</td>
                            <td>
                                <a ng-show="system.result.pro && system.result.pro.url " href="{{rootUrl}}{{
                                   system.result.pro.url }}">详情</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>