<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="backUserLogin">
    <div class="sidebar-collapse">
        <ul side-nav class="nav metismenu" id="side-menu">
            <!--=========================nav-header用户信息===========================-->
            <li class="nav-header">
                <div class="profile-element text-center" uib-dropdown>
                    <img alt="image" class="img-circle" src="img/gomeFinance-logo.png" />
                    <a uib-dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{userName}}</strong>
                            </span>
                        </span>
                    </a>
                </div>
            </li>
            <!--=IsAdminUser是false的时候只显示用例管理==0306==zxh==-->
            <!--======================nav-content基本信息=====================-->
            <li ng-show="this.in_array(this.super_admin,role)" ng-class="{active: $state.includes('backInfo')}">
                <a href="">
                    <i class="fa fa-globe"></i>
                    <span class="nav-label">{{ '基本信息' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('backInfo')}">

                    <li ui-sref-active="active">
                        <a ui-sref="backInfo.department">{{ '部门管理' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backInfo.product">{{ '产品管理' | translate }}</a>
                    </li>
                </ul>
            </li>
            <!--======================nav-content用例管理=====================-->
            <li ng-show="this.in_array(no_develop_list, role) "
                ng-class="{active: $state.includes('backUseCase')}">
                <a href="">
                    <i class="fa fa-suitcase"></i>
                    <span class="nav-label">{{ '接口管理' | translate }}</span>
                    <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('backUseCase')}">
                    <li ng-show="this.in_array(admin_list, role)" ui-sref-active="active">
                        <a ui-sref="backUseCase.system">{{ '系统管理' | translate }}</a>
                    </li>
                    <!--<li ng-show="this.in_array(admin_list, role)" ui-sref-active="active">
                        <a ui-sref="backUseCase.envInfo">{{ '系统详情' | translate }}</a>
                    </li>-->
                    <li ui-sref-active="active"><a ui-sref="backUseCase.model">{{ '模块管理' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="backUseCase.useCase">{{ '接口管理' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="backUseCase.detail">{{ '用例管理' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="backUseCase.design">{{ '策略服务' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="backUseCase.asso">{{ '数据参数化' | translate }}</a></li>
                </ul>
            </li>

            <!--======================nav-content统一部署=====================-->
            <li ng-show="this.in_array(include_develop_list, role)" ng-class="{active: $state.includes('deployment')}">
                <a href="">
                    <i class="fa fa-dashboard"></i>
                    <span class="nav-label">{{ '部署管理' | translate }}</span>
                    <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('deployment')}">
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="deployment.system">{{ '部署系统' | translate }}</a>
                    </li>
                    <!--<li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="deployment.systemDetail">{{ '系统详情' | translate }}</a>
                    </li>-->
                    <li ui-sref-active="active">
                        <a ui-sref="deployment.jobRun">{{ '部署构建' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="deployment.strategy">{{ '部署策略' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="deployment.branchManage">{{ '分支管理' | translate }}</a>
                    </li>
                </ul>
            </li>

            <!--======================nav-content业务中心=====================-->
            <!-- <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="businessManage.commonElement">{{ '公用页面元素' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="businessManage.element">{{ '页面元素' | translate }}</a>
                    </li> -->
            <li ng-show="this.in_array(this.no_develop_list, role)"
                ng-class="{active: $state.includes('businessManage')}">
                <a href="">
                    <i class="fa fa-paper-plane"></i>
                    <span class="nav-label">{{ '业务管理' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('businessManage')}">
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="businessManage.pandect">{{ '总览' | translate }}</a>
                    </li>
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="businessManage.systemManage">{{ '系统管理' | translate }}</a>
                    </li>
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="businessManage.deviceManage">{{ '设备管理' | translate }}</a>
                    </li>
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="businessManage.commonCase">{{ '公用用例' | translate }}</a>
                    </li>
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="businessManage.cases">{{ '用例库' | translate }}</a>
                    </li>
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="businessManage.businessStrategy">{{ '用例策略' | translate }}</a>
                    </li>
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="businessManage.businessResult">{{ '任务结果' | translate }}</a>
                    </li>
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="businessManage.pictureManage">{{ '图片管理' | translate }}</a>
                    </li>
                </ul>
            </li>
            <!--======================nav-content代码分析管理=====================-->
            <li ng-show="this.in_array(this.no_develop_list, role)" ng-class="{active: $state.includes('codeAnaly')}">
                <a href="">
                    <i class="fa fa-git"></i>
                    <span class="nav-label">{{ '代码分析管理' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('codeAnaly')}">
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="codeAnaly.system">{{ '系统管理' | translate }}</a>
                    </li>
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="codeAnaly.codeAnaly">{{ '代码分析策略' | translate }}</a>
                    </li>
                </ul>
            </li>
            <!--======================nav-content代码管理=====================-->
            <li ng-show="this.in_array(this.no_develop_list, role)" ng-class="{active: $state.includes('code')}">
                <a href="">
                    <i class="fa fa-git"></i>
                    <span class="nav-label">{{ '代码管理' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('code')}">
                    <!--<li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">-->
                        <!--<a ui-sref="code.jobManage">{{ '任务管理' | translate }}</a>-->
                    <!--</li>-->
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="code.warehouse">{{ '代码仓库管理' | translate }}</a>
                    </li>
                    <li ng-show="this.in_array(this.admin_list, role)" ui-sref-active="active">
                        <a ui-sref="code.compare">{{ '代码对比结果' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="code.codeRun">{{ '代码变动对比' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="code.label">{{ 'commit历史对比' | translate }}</a>
                    </li>
                </ul>
            </li>
            <!--======================nav-content任务=====================-->
            <li ng-show="this.in_array(this.admin_list, role)" ng-class="{active: $state.includes('task')}">
                <a href="">
                    <i class="fa fa-tasks"></i>
                    <span class="nav-label">{{ '任务管理' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('task')}">
                    <li ui-sref-active="active"><a ui-sref="task.interTask">{{ '接口任务' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="task.deployTask">{{ '部署任务' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="task.codeTask">{{ '代码任务' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="task.businessJob">{{ '业务任务' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="task.otherTask">{{ '其他任务' | translate }}</a></li>
                    <li ui-sref-active="active"><a ui-sref="task.taskMonitor">{{ '任务监听' | translate }}</a></li>
                </ul>
            </li>

            <!--======================nav-content测试结果=====================-->
            <li ng-show="this.in_array(this.no_develop_list, role)"
                ng-class="{active: $state.includes('backResult')}">
                <a href="">
                    <i class="fa fa-pie-chart"></i>
                    <span class="nav-label">{{ '测试结果' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('backResult')}">
                    <li ui-sref-active="active" ng-show="this.in_array(this.admin_list, role)">
                        <a ui-sref="backResult.runResult">{{ '接口结果' | translate }}</a>
                    </li>
                    <li ui-sref-active="active" ng-show="this.in_array(this.admin_list, role)">
                        <a ui-sref="backResult.deployResult">{{ '部署结果' | translate }}</a>
                    </li>
                    <li ui-sref-active="active" ng-show="this.in_array(this.no_develop_list, role)">
                        <a ui-sref="backResult.businessResult">{{ '业务结果' | translate }}</a>
                    </li>
                    <li ui-sref-active="active" ng-show="this.in_array(this.admin_list, role)">
                        <a ui-sref="backResult.coverResult">{{ '代码覆盖率结果' | translate }}</a>
                    </li>
                </ul>
            </li>

            <!--======================nav-content用户管理=====================-->
            <li ng-show="this.in_array(this.system_manage_role, role)"
                ng-class="{active: $state.includes('backUser')}">
                <a href="">
                    <i class="fa fa-group"></i>
                    <span class="nav-label">{{ '用户管理' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('backUser')}">
                    <li ui-sref-active="active">
                        <a ui-sref="backUser.user">{{ '用户管理' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backUser.usergroup">{{ '用户组管理' | translate }}</a>
                    </li>
                </ul>
            </li>

            <!--======================nav-content初始化设置=====================-->
            <li ng-show="role === this.super_admin" ng-class="{active:$state.includes('initSet')}">
                <a href="">
                    <i class="fa fa-cog"></i>
                    <span class="nav-label">{{ '初始化设置' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('initSet')}">
                    <li ui-sref-active="active">
                        <a ui-sref="initSet.env">{{ '系统环境' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="initSet.type">{{ '任务类型' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="initSet.panelSet" >{{ '设备平台' | translate }}</a>
                    </li>
                </ul>
            </li>

            <!--======================nav-content系统配置=====================-->
            <li ng-show="this.in_array(this.system_manage_role, role)"
                ng-class="{active:$state.includes('backSysConfig')}">
                <a href="">
                    <i class="fa fa-cogs"></i>
                    <span class="nav-label">{{ '系统配置' | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{active: $state.includes('backSysConfig')}">
                     <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.baseInfo" >{{ '基本信息配置' | translate }}</a>
                    </li>       
                    <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.database" >{{ '数据库管理' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.server">{{ '服务器管理' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.jenkinsServer">{{ 'Jenkins管理' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.dataStorage">{{ '数据仓库管理' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.codeBranch">{{ '代码分支管理' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.emailSet">{{ 'SMTP配置' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.emailSendSet">{{ '邮件组管理' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.weChatNum">{{ '微信号' | translate }}</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="backSysConfig.weChatGroup">{{ '微信组' | translate }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
