<div class="zsy-tablelist-box" ng-controller="backUser_usergroup">
    
     <div class="backDepart-header">
        <p class="backDepartQ-title pull-left">用户组管理</p>
        <!--<div class="queryCase pull-right ">
            <input type="text " placeholder="请输入用户组/用户组编号 ">
            <span>查询</span>
        </div>-->
    </div>
    <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#addModal" style="" ng-click="openAdd()">新增用户组</button>
    <div class="fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <table  class=" table table-stripped toggle-arrow-tiny">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >

                            <tr ng-repeat="item in contentList">
                                <td >{{$index + (pageNum - 1) *10 + 1}}</td>
                                <td>{{item.name}}</td>
                                <td>
                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#seeModel" ng-click="seeDes(item.id,$index)">查看</button>
                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modifyModal" ng-click="modify(item.id,$index)">修改</button>
                                    <!-- <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#Disable" ng-click="Disable(item.id,$index)">禁用</button> -->
                                    <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#del" ng-click="del(item.id,$index)">删除</button>
                                    <!-- 新增部门管理===0304==zxh -->
                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#manageDepart"
                                            ng-click="manageDepart(item.id,$index)">部门管理
                                    </button>
                                    <!--<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#addUserModel" ng-click="addUser(item.id,$index)">添加用户</button>-->
                                    <!--<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#removeUserModel" ng-click="removeUser(item.id,$index)">移除用户</button>-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="tcdPageCode"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 模态框 新增用户组（Modal） -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="label1">
                        新增用户组
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="departmentName" class="col-sm-3 control-label">用户组名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-blur="checkNull(addItemParams.name,'用户组名称')" ng-model="addItemParams.name" class="form-control" id="departmentName" placeholder="请输入用户组名称">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addMethod()">
                        新增用户组
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal 新增环境 结束 -->

    <!-- 模态框 查看用户组（Modal） -->
    <div class="modal fade" id="seeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="label1">
                        查看用户组
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="departmentName" class="col-sm-3 control-label">用户组名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="modifyParams.name" class="form-control" id="departmentName" placeholder="请输入用户组名称" ng-disabled="true">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 模态框 修改用户组（Modal） -->
    <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="label1">
                        修改用户组
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="departmentName" class="col-sm-3 control-label">用户组名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="modifyParams.name" class="form-control" id="departmentName" placeholder="请输入用户组名称">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="modifyMethod()">
                        提交更改
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal 修改环境结束 -->


    <!-- 模态框 禁用（Modal） -->
    <!-- <div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="disableLabel">
                        环境禁用
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="DisableMethod()">
                            禁用
                        </button>
                    </div>
                </div>
            </div>
            /.modal-content
        </div>
        /.modal-dialog
    </div> -->
    <!-- /.modal 禁用结束 -->


    <!-- 模态框 用户组删除（Modal） -->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="delLabel">
                        删除用户组
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="delMethod()">
                            删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- 模态框 部门管理===0304==zxh -->
    <div class="modal fade" id="manageDepart" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="delLabel">
                        部门管理
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <table  class=" table table-stripped toggle-arrow-tiny" data-page-size="12" >
                            <thead>
                            <tr>
                                <th>部门</th>
                                <th>产品</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >

                            <tr ng-repeat="item in userGroupList">
                                <td>{{item.department_name}}</td>
                                <td>{{item.product_name}}</td>
                                <td>
                                    <button type="button" class="btn btn-default" ng-click="delDepart(item.department,item.product,$index)">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label" style="text-align: left">添加部门
                            </label>
                            <div class="col-sm-4" style="padding-top:5px;">
                                <select ng-model="selectedGroup"  ng-options="item.description for item in allGroupList" ng-change="selecteDepartment()">
                                    <option value="">{{'请选择要添加的部门'}}</option>
                                </select>
                            </div>
                            <!--<button type="button" class="btn btn-default"  ng-click="addDepart()">确定</button>-->
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label" style="text-align: left">添加产品
                            </label>
                            <div class="col-sm-4" style="padding-top:5px;">
                                <select ng-model="selectedGroupProduct"  ng-options="item.description for item in allProductList" >
                                    <option value="">{{'请选择要添加的产品'}}</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-default"  ng-click="addDepart()">确定</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


      <!-- 模态框 添加用户到用户组（Modal） -->
    <div class="modal fade" id="addUserModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加用户({{contentList[index].name}})
                    </h4>
                </div>
                <div class="modal-body">
                   <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">用户
                            选择</label>
                            <div class="col-sm-9" style="padding-top:5px;">
                                <select ng-model="selectedUser_add"  ng-options="item.username for item in allUserList" >
                                    <option value="">{{'请选择要添加的用户'}}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addGroupUser()">
                        确认
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>


</div>
