
<div class="row backInfo_center" ng-controller="backUserLogin">
    <div class="backDepart-header">
        <p class="backDepartQ-title pull-left">用户管理</p>
        <!--<div class="queryCase pull-right ">
            <input type="text " placeholder="请输入用户组/用户组编号 ">
            <span>查询</span>
        </div>-->
    </div>
    <button class="btn btn-default new-user" data-toggle="modal" data-target="#myModal">添加用户</button>
    <div class="usermanage usermanage-frame" ng-show="isLogin">
        <table class="table table-hover table-striped user-table ">
            <thead>
            <tr>
                <td class="cell_user">用户姓名</td>
                <td class="cell_user">邮箱</td>
                <td class="cell_user">角色</td>
                <td class="cell_user">是否可用</td>
                <td class="cell_operation">操作</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in userList">
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                <td>{{role_dict_name[item.role]}}</td>
                <td>{{item.is_active?'是':'否'}}</td>
                <td>
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modifyPass"
                            ng-click="modifyPass(item.id)">修改密码
                    </button>
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#editUser"
                            ng-click="editUserDes(item.id)">修改信息
                    </button>
                    <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#disableUser"
                            ng-click="disableUser(item.id)">禁用用户
                    </button>
                    <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#delUser"
                            ng-click="delUser(item.id)">删除用户
                    </button>
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#manageUserGroup"
                            ng-click="manageUserGroup(item.id,$index)">组管理
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--// 新增用户弹出框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        新增用户
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="myForm">
                        <div class="form-group"><label class="col-lg-3 control-label">邮箱</label>
                            <div class="col-lg-9">
                                <input placeholder="邮箱" class="form-control" ng-blur="checkEmail(reg_email)" ng-model="reg_email"> <span
                                    class="help-block m-b-none"></span>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label">账号</label>
                            <div class="col-lg-9">
                                <input placeholder="账号" class="form-control" ng-blur="checkNull(reg_username,'账号')" ng-model="reg_username"> <span
                                    class="help-block m-b-none"></span>

                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label">密码</label>
                            <div class="col-lg-9"><input type="password" placeholder="密码" class="form-control"
                                                         ng-blur="checkPwd(reg_password)"  ng-model="reg_password">

                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label">确认密码</label>
                            <div class="col-lg-9"><input type="password" placeholder="确认密码" class="form-control"
                                                         ng-blur="checkPwd(reg_password_confirm)" ng-model="reg_password_confirm">
                            </div>
                            <p style="color:red ;margin-top:10px;margin-left:10px; text-align: center" >{{validateText}}</p>

                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">权限</label>
                            <div class="col-sm-9">
                                <select ng-model="reg_limit">
                                    <option value="">{{ role_dict_name[0] }}</option>
                                    <option value="{{ roles[0] }}" >{{role_dict_name[0] }}</option>
                                    <option value="{{ roles[1] }}" >{{role_dict_name[1] }}</option>
                                    <option value="{{ roles[2] }}" >{{role_dict_name[2] }}</option>
                                    <option value="{{ roles[3] }}" >{{role_dict_name[3] }}</option>
                                    <option value="{{ roles[4] }}" >{{role_dict_name[4] }}</option>
                                    <option value="{{ roles[5] }}" >{{role_dict_name[5] }}</option>
                                    <option value="{{ roles[6] }}" >{{role_dict_name[6] }}</option>
                                    <option value="{{ roles[7] }}" >{{role_dict_name[7] }}</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addUser()">
                        新增用户
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--查看用户详细信息 弹出框-->
    <!--    <div class="modal fade" id="seeUser" tabindex="-1" role="dialog" aria-labelledby="seeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="seeModalLabel">
                            查看详情
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="username" class="col-sm-2 control-label">姓名</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="seeUser.username" class="form-control" id="username" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_email" class="col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="seeUser.email" class="form-control" id="user_email" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_staff" class="col-sm-2 control-label">is_staff</label>
                                <div class="col-sm-10">
                                        <input type="checkbox" style="width:24px;height:24px;" ng-checked="seeUser.is_staff" ng-disabled="true" id="user_staff">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_is_super" class="col-sm-2 control-label">is_staff</label>
                                <div class="col-sm-10">
                                    <input type="checkbox" style="width:24px;height:24px;" ng-checked="seeUser.is_superuser" ng-disabled="true" id="user_is_super">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_last_login" class="col-sm-2 control-label">上次登录</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="seeUser.user_last_login" class="form-control" id="user_last_login" ng-disabled="true">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div>
                &lt;!&ndash; /.modal-content &ndash;&gt;
            </div>
            &lt;!&ndash; /.modal-dialog &ndash;&gt;
        </div>-->
    <!--修改密码-->
    <div class="modal fade" id="modifyPass" tabindex="-1" role="dialog" aria-labelledby="modifyLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="modifyLabel">
                        修改密码
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form" name="myForm">
                        <!--<div class="form-group"><label class="col-lg-3 control-label">原密码</label>
                            <div class="col-lg-9"><input type="password" placeholder="原密码" class="form-control"
                                                         ng-model="current_password">

                            </div>
                        </div>-->
                        <div class="form-group"><label class="col-lg-3 control-label">新密码</label>
                            <div class="col-lg-9"><input type="password" placeholder="新密码" class="form-control"
                                                         ng-model="modify_password">

                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-3 control-label">确认新密码</label>
                            <div class="col-lg-9"><input type="password" placeholder="确认新密码" class="form-control"
                                                         ng-model="modify_password_confirm">
                            </div>
                            <p style="color:red ;margin-top:10px;margin-left:10px; text-align: center" >{{modify_validateText}}</p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="modifyPassMethod()">
                        提交更改
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--修改用户信息-->
    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editProductInfo" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="editProductInfo">
                        修改用户
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="editUser.username" class="form-control" id="username" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="editUser.email" class="form-control" id="user_email" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_active" class="col-sm-2 control-label">是否可用</label>
                            <div class="col-sm-10" style="">
                                <input type="checkbox" ng-checked="editUser.is_active" style="width:24px;height:24px;" id="user_active"  ng-click="editIs_staffActive()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">权限</label>
                            <div class="col-sm-10">
                                <select ng-model="editUser.role">
                                    <option value="{{ roles[0] }}" >{{role_dict_name[0] }}</option>
                                    <option value="{{ roles[1] }}" >{{role_dict_name[1] }}</option>
                                    <option value="{{ roles[2] }}" >{{role_dict_name[2] }}</option>
                                    <option value="{{ roles[3] }}" >{{role_dict_name[3] }}</option>
                                    <option value="{{ roles[4] }}" >{{role_dict_name[4] }}</option>
                                    <option value="{{ roles[5] }}" >{{role_dict_name[5] }}</option>
                                    <option value="{{ roles[6] }}" >{{role_dict_name[6] }}</option>
                                    <option value="{{ roles[7] }}" >{{role_dict_name[7] }}</option>
                                </select>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                             <label for="user_is_super" class="col-sm-2 control-label">is_superuser</label>
                             <div class="col-sm-10">
                                 <input type="checkbox" style="width:24px;height:24px;" ng-checked="editUser.is_superuser"  id="user_is_super" ng-disabled="true">
                             </div>
                         </div>-->
                        <!--<div class="form-group">
                            <label for="user_last_login" class="col-sm-2 control-label">上次登录</label>
                            <div class="col-sm-10">
                                <input type="text" ng-model="editUser.user_last_login" class="form-control" id="user_last_login" >
                            </div>
                        </div>-->
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="editUserMethod()">
                        确认更改
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--删除用户弹出框-->
    <div class="modal fade" id="delUser" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="delLabel">
                        删除用户
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="sureDelUser()">
                            删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--禁用用户弹出框-->
    <div class="modal fade" id="disableUser" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="disableLabel">
                        禁用用户
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="disableUserMethod()">
                            禁用
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- 组管理 -->
    <div class="modal fade" id="manageUserGroup" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="delLabel">
                        组管理
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <table  class=" table table-stripped toggle-arrow-tiny" data-page-size="12" >
                            <thead>
                            <tr>
                                <th>用户组</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >

                            <tr ng-repeat="item in userGroupList">
                                <td>{{item.name}}</td>
                                <td>
                                    <button type="button" class="btn btn-default" ng-click="delUserGroup(item.id,$index)">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label" style="text-align: left">添加用户组
                            </label>
                            <div class="col-sm-4" style="padding-top:5px;">
                                <select ng-model="selectedGroup"  ng-options="item.name for item in allGroupList" >
                                    <option value="">{{'请选择要添加的用户组'}}</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-default"  ng-click="addGroupUser()">确定</button>
                        </div>

                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>
