<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台-基本信息-系统</title>
</head>

<body>
    <div ng-controller="backSystem">
        <div class="backInfo-depart-frame">
            <div class="backDepart-header">
                <p class="backDepartQ-title pull-left">系统管理</p>
                <!--<div class="queryCase pull-right ">
                    <input type="text " placeholder="请输入系统/系统编号">
                    <span>查询</span>
                </div>-->
            </div>
            <div class="queryCase">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <select ng-model="querySystemParam.department" ng-options="m.name for m in queryDepartmentList" ng-change="queryDepartment()">
                                <option value="">-- 请选择部门 --</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select ng-model="querySystemParam.product" ng-options="m.name for m in queryProductList">
                                <option value="">-- 请选择产品 --</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button ng-click="queryCase()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 按钮触发模态框 -->
            <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal">新增系统</button>
            <div class="back-system-frame">
                <table class="table table-hover table-striped depart-table">
                    <thead>
                        <tr>
                            <td>编号</td>
                            <!--<td>系统名称</td>-->
                            <td>系统名称</td>
                            <td>部门名称</td>
                            <td>产品名称</td>
                            <td>是否启用</td>
                            <!--<td>排序</td>-->
                            <td>创建时间</td>
                            <!--<td>修改时间</td>-->
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in systemListArr">
                        <tr>
                            <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                            <!--<td>{{item.name}}</td>-->
                            <td>{{item.name}}</td>
                            <td>{{item.department_name}}</td>
                            <td>{{ item.product_name}}</td>
                            <td>{{item.is_active?'是':'否'}}</td>
                            <td>{{item.created}}</td>
                            <!--<td>{{item.modified_time}}</td>-->
                            <td>
                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#seeSytem" ng-click="seeSytemDes(item.uuid)">查看</button>
                                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#editSytem" ng-click="editSystem(item.uuid)">修改</button>
                                <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#disableSystem" ng-click="disableSystem(item.uuid)">禁用</button>
                                <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#delSys" ng-click="delSyetem(item.uuid)">删除</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div ng-show="forInitPage" class="forInit">
                    <span class="tcdPageCode"></span>
                </div>
                <div ng-hide="forInitPage" class="forSearch">
                    <span class="tcdPageCode"></span>
                </div>
            </div>
        </div>

        <!-- 模态框 新增系统（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            新增系统
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
                                <div class="col-sm-10">
                                    <select ng-change="selectedProduct()" ng-model="system.selectedProduct" ng-options="m.name for m in producNameList">
                                        <option value="">-- 请选择 --</option>
                                    </select><span style="padding-left:10px; padding-top: 3px;"
                                        class="requested_red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">系统名称</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="system.sysName" class="form-control" id="departmentName" placeholder="请输入系统名称">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group" style="position: relative;z-index:2;">
                                <label for="departmentDes" class="col-sm-2 control-label">数据仓库</label>
                                <div class="col-sm-10">
                                    <div ui-sortable="sortableOptions" class=" selectSearchResult" ng-model="selectSearchResult">

                                        <div ng-repeat="item in selectSearchResult" class="selectSearchResultItem pull-left" style="height:26px;margin-right:10px">
                                            <span ng-click="deleteSelectItem($index)">
                                                 <span class="deleteSelected ">x</span>
                                            <span>{{item.name}}</span>
                                            </span>

                                        </div>
                                    </div>
                                    <!--style="position:relative;"-->
                                    <div>
                                        <!-- <label for="departmentDes" class="control-label">搜索</label> -->
                                        <input type="text" ng-model="searchWord" placeholder="输入检索信息进行搜索" class="form-control" ng-focus="searchResultIsShow = true">
                                        <div class="searchResult" ng-show="searchResultIsShow && searchResultFlag === true">
                                            <div ng-repeat="m in warehouseList" ng-click="selectSearchItem($index)" class="searchResultItem">{{m.name}}</div>
                                        </div>
                                        <div ng-show="searchResultIsShow  && searchResultFlag === true" ng-click="searchResultIsShow = false" class="closeSearchResult">点击关闭</div>
                                    </div>

                                </div>
                            </div>

                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">系统描述</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="system.sysDes" class="form-control" id="departmentDes" placeholder="请输入系统描述">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">类型</label>
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-checked="system.is_tmc" value="option1" id="inlineCheckbox1" ng-click="typeIsTmc()"> tmc
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-checked="system.is_gdc" value="option2" id="inlineCheckbox2" ng-click="typeIsGdc()"> gdc
                                    </label>
                                    &lt;!&ndash;<div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="type" value="tmc" ng-checked='system.is_tmc' ng-click="typeIsTmc()"> tmc
                                        </label>
                                        <label>
                                            <input type="checkbox" name="type" value="gdc" ng-checked='system.is_gdc' ng-click="typeIsGdc()"> gdc
                                        </label>
                                    </div>&ndash;&gt;
                                </div>
                            </div>-->
                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">系统排序</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="system.sysSort" class="form-control" id="departmentDes" placeholder="请输入系统排序">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
					                        <input type="checkbox" ng-checked='system.isActive' ng-click="sysIsActive()"> 是否启用
				                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
					                        <input type="checkbox" ng-checked='system.is_board_display' ng-click="sysIsBoardDisplay()"> 是否展示看板
				                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" ng-click="systemAadd()">新增系统</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 新增系统结束 -->

        <!-- 模态框 查看系统详情（Modal） -->
        <div class="modal fade" id="seeSytem" tabindex="-1" role="dialog" aria-labelledby="seeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                        <h4 class="modal-title" id="seeModalLabel">
                            查看系统详情
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="sys.product_name" class="form-control" id="departmentName" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">系统名称</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="sys.name" class="form-control" id="departmentName" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">数据仓库</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="sys.warehouse" class="form-control" ng-disabled="true">
                                </div>
                            </div>


                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">系统描述</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="sys.description" class="form-control" id="departmentDes" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">类型</label>
                                <div class="col-sm-10">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-checked="sys.is_tmc" ng-disabled="true"> tmc
                                    </label>
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-checked="sys.is_gdc" ng-disabled="true"> gdc
                                    </label>
                                </div>
                            </div>-->
                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">系统排序</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="sys.seq" class="form-control" id="departmentDes" ng-disabled="true">
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked="sys.is_active" ng-disabled="true"> 是否启用
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
					          关闭
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 查看系统详情结束 -->

        <!-- 模态框 修改系统（Modal） -->
        <div class="modal fade" id="editSytem" tabindex="-1" role="dialog" aria-labelledby="editSytemInfo" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                        <h4 class="modal-title" id="editSytemInfo">
                            修改系统
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
                                <div class="col-sm-10">
                                    <select ng-change="selectedProduct()" ng-model="editSytem.product_name" ng-options="m.name for m in producNameList">
                                        <option value="">-- 请选择 --</option>
                                    </select><span style="padding-left:10px; padding-top: 3px;"
                                        class="requested_red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">系统名称</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="editSytem.name" class="form-control" id="departmentName" placeholder="请输入系统名称">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="col-sm-2 control-label">数据仓库</label>
                                <div class="col-sm-10">
                                    <select ng-model="editSytem.warehouse" ng-options="m.name for m in warehouseList">
                                        <option value="">-- 请选择 --</option>
                                    </select><span style="padding-left:10px; padding-top: 3px;"
                                        class="requested_red"></span>
                                </div>
                            </div>-->
                            <div class="form-group" style="position: relative;z-index:2;">
                                <label for="departmentDes" class="col-sm-2 control-label">数据仓库</label>
                                <div class="col-sm-10">
                                    <div ui-sortable="sortableOptions" class=" selectSearchResult" ng-model="selectSearchResult">

                                        <div ng-repeat="item in selectSearchResult" class="selectSearchResultItem pull-left" style="height:26px;margin-right:10px">
                                            <span ng-click="deleteSelectItem($index)">
                                                 <span class="deleteSelected ">x</span>
                                            <span>{{item.name}}</span>
                                            </span>

                                        </div>
                                    </div>
                                    <!--style="position:relative;"-->
                                    <div>
                                        <!-- <label for="departmentDes" class="control-label">搜索</label> -->
                                        <input type="text" ng-model="searchWord" placeholder="输入检索信息进行搜索" class="form-control" ng-focus="searchResultIsShow = true">
                                        <div class="searchResult" ng-show="searchResultIsShow && searchResultFlag === true">
                                            <div ng-repeat="m in warehouseList" ng-click="selectSearchItem($index)" class="searchResultItem">{{m.name}}</div>
                                        </div>
                                        <div ng-show="searchResultIsShow  && searchResultFlag === true" ng-click="searchResultIsShow = false" class="closeSearchResult">点击关闭</div>
                                    </div>

                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">系统描述</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="editSytem.description" class="form-control" id="departmentDes" placeholder="请输入系统描述">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">类型</label>
                                <div class="col-sm-10">
                                    <label>
                                        <input type="checkbox" ng-checked='editSytem.is_tmc' ng-click="editTypeIsTmc()"> tmc
                                    </label>
                                    <label>
                                        <input type="checkbox" ng-checked='editSytem.is_gdc' ng-click="editTypeIsGdc()"> gdc
                                    </label>
                                </div>
                            </div>-->
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-checked='editSytem.is_active' ng-click="EditSysIsActiveMethod()"> 是否启用系统
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="editSytemMethod()">
                            确认更改
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 修改系统结束 -->


        <!-- 模态框 禁用（Modal） -->
        <div class="modal fade" id="disableSystem" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="disableLabel">
                            系统禁用
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button ng-click="DisableSystemMethod()" type="button" class="btn btn-default btn-danger" data-dismiss="modal">
                                禁用
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 禁用结束 -->


        <!-- 模态框 删除系统（Modal） -->
        <div class="modal fade" id="delSys" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="delLabel">
                            删除系统
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="sureDelSye()">
                                删除
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 系统删除 -->
        <div>
            <div class="toastShow" ng-show="toastState === true">
                <em>{{toastCon}}</em>
            </div>
        </div>
    </div>
</body>

</html>