<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>后台-用例管理-模块</title>
</head>

<body>
    <div ng-controller="backModel">
        <div class="backInfo-depart-frame">
            <div class="backDepart-header">
                <p class="backDepartQ-title pull-left">模块管理</p>
                <!--<div class="queryCase pull-right ">
                    <input type="text " placeholder="请输入模块/模块编号">
                    <span>查询</span>
                </div>-->
            </div>

            <div class="queryCase">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <select ng-model="queryModelParam.product" ng-options="m.name for m in queryProductList" ng-change="queryProduct()">
                                <option value="">-- 请选择产品 --</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select ng-model="queryModelParam.system" ng-options="m.name for m in querySystemList" ng-change="querySystem()">
                                <option value="">-- 请选择系统 --</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button ng-click="queryCase()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <!-- 按钮触发模态框 -->
            <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal">新增模块</button>
            <div class="back-model-table">
                <table class="table table-hover table-striped depart-table">
                    <thead>
                    <tr>
                        <td>模块编号</td>
                        <td>模块名称</td>
                        <td>系统名称</td>
                        <td>产品名称</td>
                        <!--<td>模块描述</td>-->
                        <td>是否启用</td>
                        <td>创建时间</td>
                        <!--<td>修改时间</td>-->
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in modelList">
                    <tr>
                        <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                        <!--<td>{{item.name}}</td>-->
                        <td>{{item.name}}</td>
                        <td>{{item.system_name}}</td>
                        <td>{{item.product_name}}</td>
                        <td>{{item.is_active? '是':'否'}}</td>
                        <td>{{ item.created_time }}</td>
                        <!--<td>{{ item.modified_time }}</td>-->
                        <td>
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#seeModelDes" ng-click="seeModelDes(item.uuid)">查看</button>
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#editModel" ng-click="editModel(item.uuid)">修改</button>
                            <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#disableModel" ng-click="disableModel(item.uuid)">禁用</button>
                            <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#delDodel" ng-click="delModel(item.uuid)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show = "forInitPage" class="forInit">
                    <span class="tcdPageCode"></span>
                </div>
                <div ng-hide = "forInitPage" class="forSearch">
                    <span class="tcdPageCode"></span>
                </div>
            </div>
        </div>

        <!-- 模态框 新增模块（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                        <h4 class="modal-title" id="myModalLabel">
                            新增模块
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
                                <div class="col-sm-10">
                                    <select ng-model="model.selectedProduct" ng-change="selectedProduct()" ng-options="m.name for m in productNameList">
                                        <option value="">-- 请选择 --</option>
                                    </select> <span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">系统名称</label>
                                <div class="col-sm-10">
                                    <select ng-model="model.system" ng-options="m.name for m in systemNameList">
                                                <option value="">-- 请选择 --</option>
                                    </select><span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">模块名称</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="model.name" class="form-control" id="departmentName" placeholder="请输入模块名称">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">模块描述</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="model.description" class="form-control" id="departmentDes" placeholder="请输入模块描述">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
					                        <input type="checkbox" ng-checked="model.is_active" ng-click="modelIsActive()"> 是否启用
				                        </label>
                                    </div>
                                    <p style="color:red ;margin-top:10px;margin-left:10px; text-align: left" >{{validateText}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" ng-click="modelAdd()">新增模块</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 新增模块结束 -->

        <!-- 模态框 查看模块详情（Modal） -->
        <div class="modal fade" id="seeModelDes" tabindex="-1" role="dialog" aria-labelledby="seeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                        <h4 class="modal-title" id="seeModalLabel">
                            查看模块详情
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="sysName" class="col-sm-2 control-label">产品名称</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="detail.product_name" class="form-control" id="sysName" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sysName" class="col-sm-2 control-label">系统名称</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="detail.system_name" class="form-control" id="sysName" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">模块名称</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="detail.name" class="form-control" id="departmentName" ng-disabled="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">模块描述</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="detail.description" class="form-control" id="departmentDes" ng-disabled="true">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
					<input type="checkbox" ng-checked="detail.is_active" ng-disabled="true"> 是否启用
				</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
					          关闭
                        </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 查看模块详情结束 -->

         <!-- 模态框 修改模块（Modal） -->
        <div class="modal fade" id="editModel" tabindex="-1" role="dialog" aria-labelledby="editModelInfo" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                        <h4 class="modal-title" id="editModelInfo">
                            修改模块
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
                                <div class="col-sm-10">
                                    <select ng-model="editMode.selectedProduct" ng-change="selectedProduct()" ng-options="m.name for m in productNameList">
                                    </select>
                                    <span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">系统名称</label>
                                <div class="col-sm-10">
                                    <select ng-model="editMode.system" ng-options="m.name for m in systemNameList">
                                    </select>
                                    <span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">模块名称</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="editMode.name" class="form-control" id="departmentName" placeholder="请输入模块名称">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">模块描述</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="editMode.description" class="form-control" id="departmentDes" placeholder="请输入模块描述">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
					                        <input type="checkbox" ng-checked="editMode.is_active" ng-click="sysIsActive()"> 是否启用
				                        </label>
                                    </div>
                                    <p style="color:red ;margin-top:10px;margin-left:10px; text-align: left" >{{edit_validateText}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            关闭
                        </button>
                        <button type="button" class="btn btn-primary" ng-click="editModelMethod()">
                            确认更改
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 修改模块结束 -->


        <!-- 模态框 禁用（Modal） -->
        <div class="modal fade" id="disableModel" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="disableLabel">
                            模块禁用
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click='disableModelItem()'>
                                禁用
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 禁用结束 -->


        <!-- 模态框 删除模块（Modal） -->
        <div class="modal fade" id="delDodel" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="delLabel">
                            删除模块
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="sureDelModel()">
                                删除
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 模块删除 -->
        <div>
            <div class="toastShow" ng-show="toastState === true">
                <em>{{toastCon}}</em>
            </div>
        </div>
    </div>
</body>

</html>