<div ng-controller="backUseCase_asso" class="zsy-tablelist">
    <div class="backDepart-header">
        <p class="backDepartQ-title pull-left">数据参数化管理</p>
        <!--<div class="queryCase pull-right ">-->
            <!--<input type="text " placeholder="请输入关系/关系编号 ">-->
            <!--<span>查询</span>-->
        <!--</div>-->
    </div>
    <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#addModal" style="" ng-click="openAdd()">新增参数</button>
    <div class="fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="page-content">
                        <table  class=" table table-stripped toggle-arrow-tiny">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <!--<th>name</th>-->
                                <th>名称</th>
                                <th>关联名称</th>
                                <th>系统</th>
                                <th>接口</th>
                                <th>是否可用</th>
                               <th>创建时间</th>
                               <!--<th>更改时间</th>-->
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody >

                            <tr ng-repeat="item in contentList">
                                <td >{{$index + (pageNum - 1) *10 + 1}}</td>
                                <!--<td>{{item.name}}</td>-->
                                <td>{{item.description}}</td>
                                <td>{{item.correct_name}}</td>
                                <td>{{item.system_name}}</td>
                                <td>{{item.case_name}}</td>
                                <td>{{item.is_active?'是':'否'}}</td>
                                <td>{{item.created_time}}</td>
                               <!--<td>{{item.modified}}</td>-->
                                <td>
                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#seeModel" ng-click="seeDes(item.id)">查看</button>
                                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#modifyModal" ng-click="modify(item.id)">修改</button>
                                    <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#Disable" ng-click="Disable(item.id,$index)">禁用</button>
                                    <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#del" ng-click="del(item.id,$index)">删除</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="tcdPageCode"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 模态框 新增环境（Modal） -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="label1">
                        新增参数
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">系统</label>
                            <div class="col-sm-9">
                                <select ng-change="selectedSystem(addItemParams.system)" ng-model="addItemParams.system"  ng-options="item.description for item in systemList">
                                    <option value="">{{'请选择'}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">接口</label>
                            <div class="col-sm-9">
                                <select ng-model="addItemParams.case"  ng-options="item.description for item in interfaceList">
                                    <option value="">{{'请选择'}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentName" class="col-sm-3 control-label">名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-blur="checkNull(addItemParams.name,'名称')" ng-model="addItemParams.name" class="form-control" id="departmentName" placeholder="请输入参数名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">描述</label>
                            <div class="col-sm-9">
                                <input type="text" ng-blur="checkNull(addItemParams.description,'描述')" ng-model="addItemParams.description" class="form-control" id="departmentDes" placeholder="请输入参数描述">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">关联名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-blur="checkNull(addItemParams.correct_name,'关联名称')" ng-model="addItemParams.correct_name" class="form-control" id="departmentDes" placeholder="请输入关联名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">数据来源</label>
                            <div class="col-sm-9">
                                <input type="text" ng-blur="checkNull(addItemParams.source_field,'数据来源')" ng-model="addItemParams.source_field" class="form-control" id="departmentDes" placeholder="请输入数据来源">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model='addItemParams.is_active'  ng-true-value = "true" ng-false-value = "false"> 是否启用
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addMethod()">
                        新增关系
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal 新增环境 结束 -->

    <!-- 模态框 查看环境详情（Modal） -->
    <div class="modal fade" id="seeModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        查看
                </div>
                <div class="modal-body">
                   <form class="form-horizontal" role="form">
                        <!--<div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">id</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="itemDetail.id" class="form-control" id="departmentName"  ng-disabled="true">
                            </div>
                        </div>-->
                       <div class="form-group">
                           <label for="departmentDes" class="col-sm-3 control-label">系统</label>
                           <div class="col-sm-9">
                               <input type="text" ng-model="itemDetail.system_name" class="form-control" id="departmentDes" placeholder="" ng-disabled="true">
                           </div>
                       </div>
                       <div class="form-group">
                           <label for="departmentDes" class="col-sm-3 control-label">接口</label>
                           <div class="col-sm-9">
                               <input type="text" ng-model="itemDetail.case_name" class="form-control" id="departmentDes" placeholder="" ng-disabled="true">
                           </div>
                       </div>
                        <div class="form-group">
                            <label for="departmentName" class="col-sm-3 control-label">名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="itemDetail.name" class="form-control" id="departmentName" placeholder="" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">描述</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="itemDetail.description" class="form-control" id="departmentDes" placeholder="" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">关联名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="itemDetail.correct_name" class="form-control" id="departmentDes" placeholder="" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">数据来源</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="itemDetail.source_field" class="form-control" id="departmentDes" placeholder=""  ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">创建日期</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="itemDetail.created" class="form-control" id="departmentDes" placeholder="" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">修改日期</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="itemDetail.modified" class="form-control" id="departmentDes" placeholder="" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-checked='itemDetail.is_active' ng-disabled="true"> 是否启用
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!-- 模态框 修改环境（Modal） -->
    <div class="modal fade" id="modifyModal" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="label1">
                        修改
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">系统</label>
                            <div class="col-sm-9">
                                <select ng-change="selectedSystem(modifyParams.system)" ng-model="modifyParams.system"  ng-options="item.description for item in systemList">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">接口</label>
                            <div class="col-sm-9">
                                <select ng-model="modifyParams.case"  ng-options="item.description for item in interfaceList">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentName" class="col-sm-3 control-label">名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-blur="checkNull(modifyParams.name,'名称')" ng-model="modifyParams.name" class="form-control" id="departmentName" placeholder="请输入环境名称">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">描述</label>
                            <div class="col-sm-9">
                                <input type="text" ng-blur="checkNull(modifyParams.description,'描述')" ng-model="modifyParams.description" class="form-control" id="departmentDes" placeholder="请输入环境描述">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">关联名称</label>
                            <div class="col-sm-9">
                                <input type="text" ng-blur="checkNull(modifyParams.correct_name,'关联名称')" ng-model="modifyParams.correct_name" class="form-control" id="departmentDes" placeholder="请输入环境描述">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="departmentDes" class="col-sm-3 control-label">数据来源</label>
                            <div class="col-sm-9">
                                <input type="text" ng-blur="checkNull(modifyParams.source_field,'数据来源')" ng-model="modifyParams.source_field" class="form-control" id="departmentDes" placeholder="请输入环境描述">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model='modifyParams.is_active' ng-true-value = "true" ng-false-value = "false" > 是否启用
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-empty" data-dismiss="modal">
                        关闭
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="modifyMethod()">
                        提交更改
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal 修改环境结束 -->


    <!-- 模态框 禁用（Modal） -->
    <div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="disableLabel">
                        环境禁用
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="DisableMethod()">
                            禁用
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal 禁用结束 -->


    <!-- 模态框 环境删除（Modal） -->
    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="delLabel">
                        删除环境
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">
                            取消
                        </button>
                        <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="delMethod()">
                            删除
                        </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>


