<!-- 接口管理--策略管理页面 -->
<div ng-controller="backDesign" class="backDesign">
  <div class="backInfo-depart-frame">
    <div class="backDepart-header">
      <p class="backDepartQ-title pull-left">策略管理</p>
    </div>

    <div class="queryCase">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-3">
            <select ng-model="queryDesignParam.product" ng-options="m.name for m in queryProductList" ng-change="queryProduct()">
              <option value="">-- 请选择产品 --</option>
            </select>
          </div>
          <div class="col-sm-3">
            <select ng-model="queryDesignParam.system" ng-options="m.name for m in querySystemList">
              <option value="">-- 请选择系统 --</option>
            </select>
          </div>
          <div class="col-sm-3">
            <button ng-click="queryCase()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 按钮触发模态框 -->
    <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="addItem()">新增策略</button>
    <div class="back-design-frame">
      <table class="table table-hover table-striped depart-table">
        <thead>
          <tr>
            <td>编号</td>
            <td>环境</td>
            <td>名称</td>
            <!--<td>描述</td>-->
            <!--<td>case_detail</td>-->
            <td>状态</td>
            <td>是否启用</td>
            <td>创建时间</td>
            <td>操作</td>
          </tr>
        </thead>
        <tbody ng-repeat="item in designList">
          <tr>
            <td>{{$index + (pageNum - 1) *10 + 1}}</td>
            <td>{{item.env}}</td>
            <!--<td>{{item.name}}</td>-->
            <td>{{item.name}}</td>
            <td>{{item.status?'已创建':'等待'}}</td>
            <!--<td>{{item.case_detail}}</td>-->
            <td>{{item.is_active?'是':'否'}}</td>
            <td>{{ item.created }}</td>
            <td>
              <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#seeDesignDes" ng-click="seeDes(item.uuid)">查看</button>
              <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#editDesign" ng-click="modify(item.uuid)">修改</button>
              <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#disableModel" ng-click="Disable(item.uuid,$index)">禁用</button>
              <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#delDodel" ng-click="del(item.uuid,$index)">删除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-show="forInitPage" class="forInit">
        <span class="tcdPageCode"></span>
      </div>
      <div ng-hide="forInitPage" class="forSearch">
        <span class="tcdPageCode"></span>
      </div>
    </div>
  </div>

  <!-- 模态框 新增设计（Modal） -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:900px;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="myModalLabel">{{dialog.header}}</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
              <div class="col-sm-10">
                <select ng-model="addDesign.product" ng-options="m.name for m in productList" ng-change="selectProduct()" ng-show="dialog.product_isShow">
                  <option value="">-- 请选择 --</option>
                </select>
                <input type="text" ng-model="addDesign.product_description" class="form-control" id="departmentName" placeholder="" ng-show="!dialog.product_isShow"
                  ng-disabled="!dialog.product_isShow">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">系统名称</label>
              <div class="col-sm-10">
                <select ng-model="addDesign.system" ng-options="m.name for m in systemList" ng-change="selectSystem()" ng-show="dialog.system_isShow">
                  <option value="">-- 请选择 --</option>
                </select>
                <input type="text" ng-model="addDesign.system_description" class="form-control" id="departmentName" placeholder="" ng-show="!dialog.system_isShow"
                  ng-disabled="!dialog.system_isShow">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">环境</label>
              <div class="col-sm-10">
                <select ng-model="addDesign.env" ng-options="m.name for m in envList" ng-show="dialog.env_select_isShow">
                  <option value="">-- 请选择 --</option>
                </select>
                <input type="text" ng-model="addDesign.env" class="form-control" id="departmentName" placeholder="" ng-show="!dialog.env_select_isShow"
                  ng-disabled="!dialog.env_select_isShow">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">策略名称</label>
              <div class="col-sm-10">
                <input type="text" ng-blur="ckeckName(addDesign.name)" ng-model="addDesign.name" class="form-control" id="departmentName"
                  placeholder="请输入策略名称（限字母、数字和下划线）" ng-disabled="dialog.input_isClick">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">环境地址</label>
              <div class="col-sm-10">
                <input type="text" ng-blur="ckeckName(addDesign.url)" ng-model="addDesign.url" class="form-control" id="departmentName" placeholder="请输入环境地址（限字母、数字和下划线）"
                  ng-disabled="dialog.input_isClick">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">选择用例</label>
              <div class="col-sm-10">
                <div class="clearfix-zsy ">
                  <div class="col-sm-4">
                    <strong>模块</strong>
                    <ul class="list-unstyled">
                      <li ng-class="{selected:$index == modelIndex}" ng-repeat="model in modelList" ng-click="getModelIndex($index)">
                        <input type="checkbox" ng-click="selectModel($index,model)" ng-checked="model.isSelect" ng-disabled="dialog.input_isClick">{{ model.name }}
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <strong>接口</strong>
                    <div>
                      <ul class="list-unstyled">
                        <li ng-repeat="Case in curCaseList" ng-class="{selected:$index == caseIndex}" ng-click="getCaseIndex($index)">
                          <input type="checkbox" ng-click="selectCase($index,Case)" ng-checked="Case.isSelect" ng-disabled="dialog.input_isClick">{{Case.name}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <strong>用例</strong>
                    <div>
                      <ul class="list-unstyled">
                        <li ng-repeat="caseInfo in curCaseInfoList">
                          <input type="checkbox" ng-click="selectCaseInfo($index,caseInfo)" ng-checked="caseInfo.isSelect" ng-disabled="dialog.input_isClick">{{caseInfo.name}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="clearfix-zsy" ng-show="dialog.selectAll_isShow">
                  <div class="col-sm-4">全选 <input type="checkbox" ng-model="model_select_all" ng-true-value="true" ng-false-value="false" ng-click="selectAll('modal')"
                      ng-disabled="dialog.input_isClick"></div>
                  <div class="col-sm-4">全选 <input type="checkbox" ng-model="case_select_all" ng-true-value="true" ng-false-value="false" ng-click="selectAll('case')"
                      ng-disabled="dialog.input_isClick"></div>
                  <div class="col-sm-4">全选 <input type="checkbox" ng-model="caseInfo_select_all" ng-true-value="true" ng-false-value="false" ng-click="selectAll('caseinfo')"
                      ng-disabled="dialog.input_isClick"></div>
                </div>

              </div>
            </div>
            <!--<div class="form-group" ng-show="dialog.status=='see'">
              <label for="departmentName" class="col-sm-2 control-label">状态</label>
              <div class="col-sm-10">
                <input type="text" ng-model="addDesign.status" class="form-control" id="departmentName" ng-disabled="dialog.input_isClick">
              </div>
            </div>-->
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="addDesign.is_active"  ng-true-value = "true" ng-false-value = "false" ng-disabled="dialog.input_isClick"> 是否启用
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="addDesign.is_main_tactics"  ng-true-value = "true" ng-false-value = "false" ng-disabled="dialog.input_isClick"> 是否为主策略
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" ng-click="DesignAdd()" ng-show="dialog.status=='create'">提交新增</button>
          <button type="button" class="btn btn-primary" ng-click="modifyMethod()" ng-show="dialog.status=='modify'">提交更改</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal 新增设计结束 -->

  <!-- 模态框 查看设计详情（Modal） -->
  <div class="modal fade" id="seeDesignDes" tabindex="-1" role="dialog" aria-labelledby="seeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="seeModalLabel">查看设计详情</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
              <div class="col-sm-10">
                <input type="text" ng-model="seeDesignDetail.product_name" class="form-control" id="departmentName" placeholder="" ng-disabled="true">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">系统名称</label>
              <div class="col-sm-10">
                <input type="text" ng-model="seeDesignDetail.system_name" class="form-control" id="departmentName" placeholder="" ng-disabled="true">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">环境</label>
              <div class="col-sm-10">
                <input type="text" ng-model="seeDesignDetail.env_name" class="form-control" id="departmentName" placeholder="" ng-disabled="true">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">策略名称</label>
              <div class="col-sm-10">
                <input type="text" ng-model="seeDesignDetail.name" class="form-control" id="departmentName" placeholder="" ng-disabled="true">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">环境地址</label>
              <div class="col-sm-10">
                <input type="text" ng-model="seeDesignDetail.url" class="form-control" id="departmentName" placeholder="" ng-disabled="true">
              </div>
            </div>
            <!--<div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">选择用例</label>
              <div class="col-sm-10">
                <input type="text" ng-model="seeDesignDetail.case_detail" class="form-control" id="departmentName" placeholder="" ng-disabled="true">
              </div>
            </div>-->
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">选择用例</label>
              <div class="col-sm-10">
                <div class="clearfix-zsy ">
                  <div class="col-sm-4">
                    <strong>模块</strong>
                    <ul class="list-unstyled">
                      <li ng-class="{selected:$index == modelIndex}" ng-repeat="model in modelList" ng-click="getModelIndex($index)">
                        <input type="checkbox" ng-click="selectModel($index,model)" ng-checked="model.isSelect" ng-disabled="dialog.input_isClick">{{ model.name }}
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <strong>接口</strong>
                    <div>
                      <ul class="list-unstyled">
                        <li ng-repeat="Case in curCaseList" ng-class="{selected:$index == caseIndex}" ng-click="getCaseIndex($index)">
                          <input type="checkbox" ng-click="selectCase($index,Case)" ng-checked="Case.isSelect" ng-disabled="dialog.input_isClick">{{Case.name}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <strong>用例</strong>
                    <div>
                      <ul class="list-unstyled">
                        <li ng-repeat="caseInfo in curCaseInfoList">
                          <input type="checkbox" ng-click="selectCaseInfo($index,caseInfo)" ng-checked="caseInfo.isSelect" ng-disabled="dialog.input_isClick">{{caseInfo.name}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="clearfix-zsy" ng-show="dialog.selectAll_isShow">
                  <div class="col-sm-4">全选 <input type="checkbox" ng-model="model_select_all" ng-true-value="true" ng-false-value="false" ng-click="selectAll('modal')"
                      ng-disabled="dialog.input_isClick"></div>
                  <div class="col-sm-4">全选 <input type="checkbox" ng-model="case_select_all" ng-true-value="true" ng-false-value="false" ng-click="selectAll('case')"
                      ng-disabled="dialog.input_isClick"></div>
                  <div class="col-sm-4">全选 <input type="checkbox" ng-model="caseInfo_select_all" ng-true-value="true" ng-false-value="false" ng-click="selectAll('caseinfo')"
                      ng-disabled="dialog.input_isClick"></div>
                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                  <input type="checkbox" ng-model="seeDesignDetail.is_active" ng-checked="seeDesignDetail.is_active" ng-disabled="true"> 是否启用
                </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="seeDesignDetail.is_main_tactics"  ng-true-value = "true" ng-false-value = "false" ng-disabled="dialog.input_isClick"> 是否为主策略
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal 查看设计详情结束 -->

  <!-- 模态框 修改设计（Modal） -->
  <div class="modal fade" id="editDesign" tabindex="-1" role="dialog" aria-labelledby="editDesignInfo" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
          <h4 class="modal-title" id="editDesignInfo">修改设计</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">产品名称</label>
              <div class="col-sm-10">
                <select ng-model="editDesign.product" ng-options="m.name for m in productList" ng-change="selectProduct()">
                  <option value="">-- 请选择 --</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">系统名称</label>
              <div class="col-sm-10">
                <select ng-model="editDesign.system" ng-options="m.name for m in systemList" ng-change="selectSystem()">
                  <option value="">-- 请选择 --</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">环境</label>
              <div class="col-sm-10">
                <select ng-model="editDesign.env" ng-options="m.name for m in envList">
                  <option value="">-- 请选择 --</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">策略名称</label>
              <div class="col-sm-10">
                <input type="text" ng-blur="ckeckName(editDesign.name)" ng-model="editDesign.name" class="form-control" id="departmentName"
                  placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">环境地址</label>
              <div class="col-sm-10">
                <input type="text" ng-blur="ckeckName(editDesign.url)" ng-model="editDesign.url" class="form-control" id="departmentName"
                  placeholder="">
              </div>
            </div>
            <div class="form-group">
              <label for="departmentName" class="col-sm-2 control-label">选择用例</label>
              <div class="col-sm-10">
                <div class="clearfix-zsy ">
                  <div class="col-sm-4">
                    <strong>模块</strong>
                    <ul class="list-unstyled">
                      <li ng-class="{selected:$index == modelIndex}" ng-repeat="model in modelList" ng-click="getModelIndex($index)">
                        <input type="checkbox" ng-click="selectModel($index,model)" ng-checked="model.isSelect">{{model.name}}
                      </li>
                    </ul>
                  </div>
                  <div class="col-sm-4">
                    <strong>接口</strong>
                    <div>
                      <ul class="list-unstyled">
                        <li ng-repeat="Case in curCaseList" ng-class="{selected:$index == caseIndex}" ng-click="getCaseIndex($index)">
                          <input type="checkbox" ng-click="selectCase($index,Case)" ng-checked="Case.isSelect"> {{Case.name}}
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <strong>用例</strong>
                    <div>
                      <ul class="list-unstyled">
                        <li ng-repeat="caseInfo in curCaseInfoList">
                          <input type="checkbox" ng-click="selectCaseInfo($index,caseInfo)" ng-checked="caseInfo.isSelect">{{caseInfo.name}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="clearfix-zsy" ng-show="dialog.selectAll_isShow">
                  <div class="col-sm-4">全选 <input type="checkbox" ng-model="model_select_all" ng-true-value="true" ng-false-value="false" ng-click="selectAll('modal')"></div>
                  <div class="col-sm-4">全选 <input type="checkbox" ng-model="case_select_all" ng-true-value="true" ng-false-value="false" ng-click="selectAll('case')"></div>
                  <div class="col-sm-4">全选 <input type="checkbox" ng-model="caseInfo_select_all" ng-true-value="true" ng-false-value="false" ng-click="selectAll('caseinfo')"></div>
                </div>

              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
					          <input type="checkbox" ng-model="editDesign.is_active" ng-checked="editDesignParam.is_active" ng-click="DesignIsActive()"> 是否启用
				          </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" ng-model="editDesign.is_main_tactics" ng-checked="editDesignParam.is_main" ng-click="DesignIsActive()"> 是否为主要策略
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" ng-click="editDesignMethod()">确认更改</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal 修改设计结束 -->


  <!-- 模态框 禁用（Modal） -->
  <div class="modal fade" id="disableModel" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="disableLabel">设计禁用</h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <button type="button" class="btn btn-empty" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click='DisableMethod()'>禁用</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal 禁用结束 -->

  <!-- 模态框 删除设计（Modal） -->
  <div class="modal fade" id="delDodel" tabindex="-1" role="dialog" aria-labelledby="delLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title" id="delLabel">删除设计</h4>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <button type="button" class="btn btn-empty" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" ng-click="delMethod()">删除</button>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal 设计删除 -->
  <div>
    <div class="toastShow" ng-show="toastState === true">
      <em>{{toastCon}}</em>
    </div>
  </div>
</div>
