
    <div ng-controller="useCase" class="usecase">
        <div class="backInfo-depart-frame">
            <div class="backDepart-header">
                <p class="backDepartQ-title pull-left">接口管理</p>
                <!--<div class="queryCase pull-right ">
                    <input type="text " placeholder="请输入用例/用例编号">
                    <span>查询</span>
                </div>-->
            </div>
            <!-- 按钮触发模态框 -->
            <div class="queryCase">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <select ng-model="queryInterfaceParam.product" ng-options="m.nmae for m in queryProductList" ng-change="queryProduct()">
                                <option value="">-- 请选择产品 --</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select ng-model="queryInterfaceParam.system" ng-options="m.name for m in querySystemList" ng-change="querySystem()">
                                <option value="">-- 请选择系统 --</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select ng-model="queryInterfaceParam.model" ng-options="m.name for m in queryCaseModelList">
                                <option value="">-- 请选择模块 --</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button ng-click="queryCase()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
                        </div>
                    </div>
                </form>
            </div>
            <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="openAdd()">新增接口</button>
            <div class="back-inter-frame">
                <table class="table table-hover table-striped depart-table" data-page-size="10" id="footable">
                    <thead>
                    <tr>
                        <td>编号</td>
                        <td>接口名称</td>
                        <!--<td>接口描述</td>-->
                        <td>接口模块</td>
                        <td>产品</td>
                        <td>系统名</td>
                        <!--<td>链接</td>-->
                        <td>数据方法</td>
                        <!--<td>数据类型</td>-->
                        <!--<td>服务</td>-->
                        <td>是否启用</td>
                        <!--<td>初始化</td>-->
                        <td>创建时间</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in useCaseList">
                    <tr>
                        <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                        <!--<td>{{item.name}}</td>-->
                        <td>{{item.description}}</td>
                        <td>{{item.case_model_name}}</td>
                        <td>{{item.product_name}}</td>
                        <td>{{item.system_name}}</td>
                        <!--<td>{{item.url}}</td>-->
                        <td>{{item.data_method}}</td>
                        <!--<td>{{item.data_type}}</td>-->
                        <!--<td>{{item.service}}</td>-->
                        <td>{{item.is_active? '是':'否'}}</td>
                        <!--<td>{{item.is_init? '是':'否'}}</td>-->
                        <td>{{ item.created_time }}</td>

                        <td>
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeCaseDes(item.id,$index)">查看</button>
                            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editCase(item.id,$index)">修改</button>
                            <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableCase" ng-click="DisableCase(item.id,$index)">禁用</button>
                            <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableCase" ng-click="delCase(item.id,$index)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show = "forInitPage" class="forInit">
                    <span class="tcdPageCode"></span>
                </div>
                <div ng-hide = "forInitPage" class="forSearch">
                    <span class="tcdPageCode"></span>
                </div>
            </div>
        </div>
        <!-- 模态框 新增接口（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
				</button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{dialog.header}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">选择产品</label>
                                <div class="col-sm-10">
                                    <select ng-model="params.product" ng-options="m.name for m in productList" ng-change="selectedProduct()" ng-disabled="dialog.input_isClick">
                                        <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">选择系统</label>
                                <div class="col-sm-10">
                                    <select ng-model="params.system" ng-options="m.name for m in systemList" ng-change="selectedSystem()" ng-disabled="dialog.input_isClick">
                                                <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">选择模块</label>
                                <div class="col-sm-10">
                                    <select ng-model="params.model" ng-options="m.name for m in caseModelList" ng-disabled="dialog.input_isClick">
                                                <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">接口名称</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-blur="checkChina(params.name)" ng-model="params.name" class="form-control" id="departmentName"  ng-disabled="dialog.input_isClick" placeholder="请输入接口名称（限字母、数字和下划线）">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">接口描述</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-blur="checkNull(params.description,'接口描述')" ng-model="params.description" class="form-control" id="departmentDes" ng-disabled="dialog.input_isClick">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">链接</label>
                                <div ng-show="sitUrl!==''" class="col-sm-4 text-right">
                                    <p class="form-control-static ">{{sitUrl}}</p>
                                </div>
                                <!--<span class="form-control-static">{{sitUrl}}</span>-->
                                <div class="col-sm-6">
                                    <input type="text" ng-model="params.url" class="form-control" id="departmentDes"  ng-disabled="dialog.input_isClick">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">数据请求</label>
                                <div class="col-sm-10">
                                    <select ng-model="params.data_method" ng-options="m.type for m in reqType" ng-disabled="dialog.input_isClick">
                                                <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentName" class="col-sm-2 control-label">数据类型</label>
                                <div class="col-sm-10">
                                    <select ng-model="params.data_type" ng-options="m.type for m in dateType" ng-disabled="dialog.input_isClick">
                                                <option value="">-- 请选择 --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">服务</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="params.service" class="form-control" id="departmentDes"  ng-disabled="dialog.input_isClick">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="departmentDes" class="col-sm-2 control-label">自定义排序</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="params.seq" class="form-control" id="departmentDes"  ng-disabled="dialog.input_isClick">
                                </div>
                            </div>
                            <div class="form-group" style="position: relative;z-index:2;">
                                <label for="departmentDes" class="col-sm-2 control-label">前置接口</label>
                                <div class="col-sm-10">
                                    <div ui-sortable="sortableOptions" class=" selectSearchResult" ng-model="selectSearchResult">
                                        <div ng-repeat="item in selectSearchResult " class="selectSearchResultItem pull-left">
                                            <span class = "deleteSelected" ng-click="selectSearchResult.splice($index,1)" ng-show="!dialog.input_isClick" >x</span>
                                            <span>{{item.name}}</span>
                                        </div>
                                    </div>
                                    <div style="position:relative;" ng-show="!dialog.input_isClick">
                                        <!-- <label for="departmentDes" class="control-label">搜索</label> -->
                                        <input  type="text" ng-model="searchWord" placeholder="输入检索信息进行搜索" class="form-control" ng-focus = "searchResultIsShow = true" >
                                        <div class="searchResult" ng-show="searchResultIsShow && searchResultFlag === true">
                                            <div ng-repeat="m in searchResult" ng-click="selectSearchItem($index)" class="searchResultItem">{{m.name}}</div>
                                        </div>
                                        <div ng-show="searchResultIsShow  && searchResultFlag === true" ng-click="searchResultIsShow = false" class="closeSearchResult">点击关闭</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">启用</label>
                                <div class="col-sm-10">
                                     <input type="checkbox" ng-model="params.is_active" ng-disabled="dialog.input_isClick"> 是否启用
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-sm-2 control-label">初始化</label>
                                <div class="  col-sm-10">
			                        <input type="checkbox" ng-model="params.is_init" ng-disabled="dialog.input_isClick"> 是否为初始化接口
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" ng-click="CaseAdd()" ng-show="dialog.status === 'create'">新增</button>
                        <button type="button" class="btn btn-primary" ng-click="editCaseMethod()" ng-show="dialog.status === 'modify'">修改</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 新增接口结束 -->

        <!-- 模态框 禁用（Modal） -->
        <div class="modal fade" id="DisableCase" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="disableLabel">
                            {{dialog.header}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-default btn-danger"  ng-click="disableCaseMethod()" ng-show="dialog.status === 'disable'">
                                禁用
                            </button>
                            <button type="button" class="btn btn-default btn-danger" ng-click="sureDelCase()" ng-show="dialog.status === 'del'">
                                删除
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal 禁用结束 -->
        <div>
            <div class="toastShow" ng-show="toastState === true">
                <em>{{toastCon}}</em>
            </div>
        </div>
    </div>
