<div ng-controller="deviceManage">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">设备管理</p>
        </div>
        <div class="queryCase">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-3">
                        <select ng-model="queryDeviceParam.os" ng-options="m.name for m in OperaSysList">
                            <option value="">-- 请选择系统 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="" ng-model="queryDeviceParam.name" placeholder="手机名称">
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="" ng-model="queryDeviceParam.version" placeholder="版本号">
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="queryCase()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 按钮触发模态框 -->
        <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="openSystem()">新增设备</button>
        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>名称</td>
                    <td>操作系统</td>
                    <td>昵称</td>
                    <td>版本号</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in deviceList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.platform_name}}</td>
                    <td>{{item.nickname}}</td>
                    <td>{{item.version}}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeSystem(item.uuid,$index)">查看</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editSystem(item.uuid,$index)">修改</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="disableSystem(item.uuid,$index)">禁用</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="delSystem(item.uuid,$index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show = "forInitPage" class="forInit">
                <span class="tcdPageCode"></span>
            </div>
            <div ng-hide = "forInitPage" class="forSearch">
                <span class="tcdPageCode"></span>
            </div>
        </div>
    </div>
    <!-- 模态框 新增、查看、修改（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            {{dialog.header}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="name" class="col-sm-2 control-label">手机名称</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.name" class="form-control" id="systemName" placeholder="" ng-disabled="dialog.input_isClick">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="nickname" class="col-sm-2 control-label">手机昵称</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.nickname" class="form-control" id="systemName" placeholder="" ng-disabled="dialog.input_isClick">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="os" class="col-sm-2 control-label">操作系统</label>
                                <div class="col-sm-10">
                                    <select ng-model="params.os" ng-options="m.name for m in OperaSysList" ng-disabled="dialog.input_isClick">
                                        <option value="">-- 请选择 --</option>
                                    </select><span style="padding-left:10px; padding-top: 3px;" class="requested_red">*</span>
                                </div>
                            </div>
                             <div class="form-group">
                                <label for="version" class="col-sm-2 control-label">操作系统版本号</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.version" class="form-control" id="systemName" placeholder="" ng-disabled="dialog.input_isClick">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                        	<div class="form-group" ng-show="params.os.name !== 'web'">
                                <label for="serial_num" class="col-sm-2 control-label">手机序列号</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.serial_num" class="form-control" id="systemName" placeholder="" ng-disabled="dialog.input_isClick">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group" ng-show="params.os.name !== 'web'">
                                <label for="resolution" class="col-sm-2 control-label">屏幕分辨率</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.resolution" class="form-control" id="systemName" placeholder="" ng-disabled="dialog.input_isClick">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group" ng-show="params.os.name !== 'web'">
                                <label for="phone_ip" class="col-sm-2 control-label">IP</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.phone_ip" class="form-control" id="systemName" placeholder="" ng-disabled="dialog.input_isClick">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group" ng-show="params.os.name === 'web'">
                                <label for="pc_ip" class="col-sm-2 control-label">个人IP</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.pc_ip" class="form-control" id="systemName" placeholder="" ng-disabled="dialog.input_isClick">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group" ng-show="params.os.name === 'web'">
                                <label for="pc_user" class="col-sm-2 control-label">用户名</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.pc_user" class="form-control" id="systemName" placeholder="" ng-disabled="dialog.input_isClick">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group" ng-show="params.os.name === 'web'">
                                <label for="pc_password" class="col-sm-2 control-label">密码</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.pc_password" class="form-control" id="systemName" placeholder="" ng-disabled="dialog.input_isClick">
                                </div>
                                <div class="col-sm-1" style="padding-left: 0; padding-top: 10px;">
                                    <span class="requested_red ">*</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment" class="col-sm-2 control-label">备注(没必填)</label>
                                <div class="col-sm-9">
                                    <input type="text" ng-model="params.comment" class="form-control" id="systemName" ng-disabled="dialog.input_isClick">
                                </div>
                            </div>
                            <div class="form-group">
	                            <label  class="col-sm-2 control-label">公用</label>
	                            <div class="col-sm-2">
	                                <input type="checkbox" ng-model="params.is_public" ng-disabled="dialog.input_isClick"> 是否公用
	                            </div>
	                        </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-empty" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" ng-click="addSystemConfirm()" ng-show="dialog.status === 'create'">新增</button>
                        <button type="button" class="btn btn-primary" ng-click="editSystemConfirm()" ng-show="dialog.status === 'modify'">修改</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 模态框 禁用、删除（Modal） -->
        <div class="modal fade" id="DisableModel" tabindex="-1" role="dialog" aria-labelledby="disableLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="disableLabel">
                            {{dialog.header}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <button type="button" class="btn btn-empty" data-dismiss="modal">
                                取消
                            </button>
                            <button type="button" class="btn btn-default btn-danger"  ng-click="disableSystemConfirm()" ng-show="dialog.status === 'disable'">
                                禁用
                            </button>
                            <button type="button" class="btn btn-default btn-danger" ng-click="delSystemConfirm()" ng-show="dialog.status === 'del'">
                                删除
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    <!-- showToast（Modal） -->
    <div>
        <div class="toastShow" ng-show="toastState === true">
            <em>{{toastCon}}</em>
        </div>
    </div>
</div>
