<div ng-controller="businessApply">
    <div class="backInfo-depart-frame">
        <div class="backDepart-header">
            <p class="backDepartQ-title pull-left">应用管理</p>
        </div>
        <div class="queryCase">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <div class="col-sm-3">
                        <select ng-model="queryApplyParam.panelName" ng-options="m.description for m in queryPanelList" ng-change="queryDepartment()">
                            <option value="">-- 请选择平台 --</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" ng-model="queryApplyParam.applyName" class="form-control" placeholder="请输入应用名称">
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="queryCase()" class="btn btn-default" style="bottom: 7px;position: relative;">查询</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- 按钮触发模态框 -->
        <button class="btn btn-default new-apartment" data-toggle="modal" data-target="#myModal" ng-click="openApply()">新增应用</button>
        <div class="back-server-frame">
            <table class="table table-hover table-striped depart-table">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>应用名称</td>
                    <td>平台名称</td>
                    <td>是否启用</td>
                    <td>创建时间</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody ng-repeat="item in applyList">
                <tr>
                    <td>{{$index + (pageNum - 1) *10 + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.platform_name}}</td>
                    <td>{{item.is_active?'是':'否'}}</td>
                    <td>{{ item.created_time }}</td>
                    <td>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="seeApply(item.uuid,item.platform_name)">查看</button>
                        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal" ng-click="editApply(item.uuid,item.platform_name)">修改</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="disableApply(item.uuid,$index)">禁用</button>
                        <button class="btn btn-danger btn-danger-empty btn-sm" data-toggle="modal" data-target="#DisableModel" ng-click="delApply(item.uuid,$index)">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-show = "forInitPage" class="forInit">
                <span class="tcdPageCode"></span>
            </div>
            <div ng-hide = "forInitPage" class="forSearch">
                <span class="tcdPageCode"></span>
            </div>
        </div>
    </div>
</div>
